<!-- Modal parcerias_ajuda-->
<div id="exportar_projeto" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>{{=T('Escolha o formato:')}}</h3>
  </div>
  <div class="modal-body">

      <button data-tipo="pdf" class="btn btn-danger exportar_canvas"><i class="icon-share-alt icon-white"></i>{{=T('Exportar PDF')}}</button>
      <button data-tipo="png" class="btn btn-success exportar_canvas"><i class="icon-share-alt icon-white"></i>{{=T('Exportar PNG')}}</button>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{=T('Fecha')}}</button>
  </div>
</div> <!-- fim parcerias_ajuda-->
