<div id="footer" class="canvas">
    <div class="container">
        {{ if request.function == "index": }}
        <div id="recursos" class="container">
        <!-- recursos -->
            <!-- header -->
            <h2 class="section_header">
                <hr class="left visible-desktop">
                <span>Recursos</span>
                <hr class="right visible-desktop">
            </h2>

            <!-- recursos list -->
            <div class="row">
                <div class="span4 feature">
                    <img src="{{=URL('static','img/feature3.jpg')}}" alt="feature3" class="thumb" />
                    <h3>
                        <i class="i_movil_white"></i> Design Responsivo
                    </h3>
                    <p class="description">
                        O Web2Canvas é criado para fornecer uma melhor visualização e experiência, além de fácil leitura e navegação. Acesse de um dispositivo móvel, tablet ou celular, verá que este site se adequa, o conteúdo se reorganiza de acordo com tamanho do navegador.
                    </p>
                </div>
                <div class="span4 feature">
                    <img src="{{=URL('static','img/feature1.jpg')}}" alt="feature1" class="thumb" />
                    <h3>
                        <i class="i_cloud_white"></i> Open Source
                    </h3>
                    <p class="description">
                        O Web2Canvas é feito com o Web2py, um framework de <i>Código Aberto</i> para desenvolvimento de aplicações web rápidas, escaláveis, seguras e portáteis.
                        <br>
                        <br>
                        <a href="http://www.web2py.com/" target="_blank" alt="Framework Web2py" title="Framework Web2py">Saiba Mais<i class="i_nova_janela"></i></a>
                    </p>
                </div>
                <div class="span4 feature">
                    <img src="{{=URL('static','img/feature2.jpg')}}" alt="feature2" class="thumb" />
                    <h3>
                        <i class="i_shuffle_white"></i> Cross-platform
                    </h3>
                    <p class="description">
                        O Web2Canvas é uma aplicação Web que roda em vários navegadores Web ao mesmo tempo que pode
                        ser acessível por diversos Sistemas Operacionais como Windows, Linux, Mac e dispositivos móveis como Android e IOS.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="span5 feature">
                    <div class="section">
                        <h3>Mais alguns recursos:</h3>
                        <ul class="mais_recuros">
                            <li>
                                <i class="icon-th icon-white"></i>
                                Criar quantos projetos quiser.
                            </li>
                            <li>
                                <i class="icon-user icon-white"></i>
                                Compartilhar e editar projeto com outros usuários.
                            </li>
                            <li>
                                <i class="icon-move icon-white"></i>
                                Mover cartões com o Drag and drop.
                            </li>
                        </ul>
                        <a href="{{=URL(f='user',args='register')}}" class="btn">Cadastre-se Agora!</a>
                    </div>
                </div>
            </div>
        </div>
    {{ pass }}
    </div> <!-- container -->
    <!-- fim recursos -->
    <hr>
    <div class="container">
        <div class="row copyright ">
            <div class="span5">
                <h3>Social</h3>
                <a href="#" class="social fb">
                    <i class="i_facebook"></i>
                </a>
                <a href="#" class="social tw">
                    <i class="i_twitter"></i>
                </a>
                <a href="#" class="social yt">
                    <i class="i_youtube"></i>
                </a>
            </div>
            <div class="span2 offset5 copy">
                <p>{{=request.now.year}} - Web2Canvas</p>
            </div>
        </div> <!-- copyright -->
    </div> <!-- container -->
</div> <!-- footer -->
