{{extend 'default/layout_base.html'}}

<div id="hero">
    <div class="container">
        <!-- starts carousel -->
        <div class="row animated fadeInDown">
            <div class="span12">
                <div id="myCarousel" class="carousel slide">
                    <!-- carousel items -->
                    <div class="carousel-inner">
                        <!-- slide -->
                        <div class="active item slide1">
                            <div class="row">
                                <div class="span6">
                                    <img src="{{=URL('static','img/slide3.png')}}" alt="slide1" />
                                </div>
                                <div class="span4">
                                    <h1>
                                        Modelo de Negócio
                                    </h1>
                                    <p>
                                        O Modelo de Negócio define o que sua empresa faz, como ela vai gerar lucro e se sustentar no mercado. Definr o Modelo é o primeiro passo para um negócio de sucesso.
                                    </p>
                                    <a href="{{=URL('modelo_canvas')}}" class="btn btn-success btn-large">
                                        Saiba mais
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- slide -->
                        <div class="item slide2">
                            <div class="row">
                                <div class="span4 animated fadeInUpBig">
                                    <h1>Cross-platform e Open Source</h1>
                                    <p>
                                        Totalmente Web, o Web2Canvas é acessível independe do seu Sistema Operacional.
                                    </p>
                                    <p>
                                        Além disso ele é Open Source e não têm custo de licença.
                                    </p>
                                    <a href="https://github.com/gustavox4ids/hackathon_sebrae" target="_blank" class="btn btn-success btn-large">
                                        Acesse o código
                                    </a>
                                </div>
                                <div class="span6 animated fadeInDownBig">
                                    <img src="{{=URL('static','img/slide2.png')}}" alt="slide2" />
                                </div>
                            </div>
                        </div>
                        <!-- slide -->
                        <div class="item slide3">
                            <div class="row">
                                <div class="span6 animated fadeInDownBig">
                                    <img src="{{=URL('static','img/slide3.png')}}" alt="slide3" />
                                </div>
                                <div class="span4 animated fadeInRight">
                                    <h1>
                                        Design responsivo
                                    </h1>
                                    <p>
                                        Adaptado para tablets, smartphones, notebooks e desktops. A evolução do design responsivo consegue trazer as vantagens de diversos sites para um só lugar.
                                    </p>
                                    <a href="{{=URL(f='user',args='register')}}" class="btn btn-success btn-large">
                                        Cadastrar-se
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- slide -->
                        <div class="item slide4 animated fadeInUpBig">
                            <img src="{{=URL('static','img/slide4.png')}}" alt="slide4" />
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="intro">
    <div class="container">
        <h1>O Web2Canvas é um guia visual para construção do seu modelo de negócio.</h1>
    </div>
</div>

<!-- recursos -->
<div id="recursos">
    <div class="container">
        <!-- header -->
        <h2 class="section_header">
            <hr class="left visible-desktop">
            <span>Recursos</span>
            <hr class="right visible-desktop">
        </h2>

        <!-- recursos list -->
        <div class="row">
            <div class="span4 feature">
                <img src="{{=URL('static','img/feature3.jpg')}}" alt="feature3" class="thumb" />
                <h3>
                    <i class="i_movil"></i> Design Responsivo
                </h3>
                <p class="description">
                    O Web2Canvas é criado para fornecer uma melhor visualização e experiência, além de fácil leitura e navegação. Acesse de um dispositivo móvel, tablet ou celular, verá que este site se adequa, o conteúdo se reorganiza de acordo com tamanho do navegador.
                </p>
            </div>
            <div class="span4 feature">
                <img src="{{=URL('static','img/feature1.jpg')}}" alt="feature1" class="thumb" />
                <h3>
                    <i class="i_cloud"></i> Open Source
                </h3>
                <p class="description">
                    O Web2Canvas é feito com o Web2py, um framework de <i>Código Aberto</i> para desenvolvimento de aplicações web rápidas, escaláveis, seguras e portáteis.
                </p>
                <a href="http://www.web2py.com/" class="btn btn-success btn-small" target="_blank" alt="Framework Web2py" title="Framework Web2py">Saiba Mais</a>
            </div>
            <div class="span4 feature">
                <img src="{{=URL('static','img/feature2.jpg')}}" alt="feature2" class="thumb" />
                <h3>
                    <i class="i_shuffle"></i> Cross-platform
                </h3>
                <p class="description">
                    O Web2Canvas é uma aplicação Web que roda em vários navegadores Web ao mesmo tempo que pode
                    ser acessível por diversos Sistemas Operacionais como Windows, Linux, Mac e dispositivos móveis como Android e IOS.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- starts testimonial -->
<div id="testimonials">
    <div class="container">
        <div class="controls">
            <hr>
        </div>
        <div class="phrases_wrapper">
            <div class="phrase">
                <div class="row">
                    <div class="span7">
                        <p class="testimony">
                            O Canvas é um modelo de negócio que aponta o potencial para uma ideia da economia digital se transformar num produto rentável...
                            <span>"</span>
                        </p>
                    </div>
                    <div class="span3 offset1">
                        <div class="pic">
                            <img src="{{=URL('static','img/sebrae.jpg')}}" alt="author" class="img-circle" />
                            <span class="name">Jornal Conexão Sebrae</span><br>
                            <span class="position">Campo Grande/MS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>