<!DOCTYPE html>
<html lang="pt_br">
<head>
	<title>Web2Canvas - Ferramenta visual para criar seu Modelo de Negócio Canvas</title>
    <meta name="description" content="Aprenda a usar o Modelo de Negócio Canvas. Crie o seu modelo de negócios Canvas e compartilhe com seus sócios ou amigos." />
    <meta name="keywords" content="modelo canvas, modelo de plano de Negócio, ferramenta canvas, criar plano de negócios, planejamento estratégico, lean startup, software plano de negocios." />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- http://dev.w3.org/html5/markup/meta.name.html -->
    <meta name="application-name" content="Web2Canvas" />

    <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

    <!-- Bootstrap -->
    <link href="{{=URL('static','css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/theme.css')}}">
    
    {{ if request.function == "index": }}
    <link href="{{=URL('static','css/animate.css')}}" rel="stylesheet">
    {{ elif request.function == "projeto_canvas": }}
    <link href="{{=URL('static','css/bootstrap-editable.css')}}" rel="stylesheet">
    <link href="{{=URL('static','css/style_canvas.css')}}" rel="stylesheet">
    {{ elif request.function == "user": }}
    <!-- css -->
    <link href="{{=URL('static','css/user.css')}}" rel="stylesheet">
    <link href="{{=URL('static','css/web2py.css')}}" rel="stylesheet">
    {{ pass }}
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <a href="#" class="scrolltop">
        <span>subir</span>
    </a>
    <!-- begins navbar -->
    {{ include 'default/navbar.html'}}
    <!-- ends navbar -->

    {{ include }}

    {{ if request.function != "user" and request.function != "projetos": }}
        <!-- starts footer -->
        {{ include 'default/footer.html'}}
        <!-- ends footer -->
    {{pass}}

    <!-- Javascripts -->
    <script src="{{=URL('static','js/jquery-1.9.0.min.js')}}"></script>
    <script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
        
    {{ if request.function == "index": }}
        <script src="{{=URL('static','js/theme.js')}}"></script>

    {{ elif request.function == "projeto_canvas": }}
        <!-- Bibliotecas JS -->
        <script src="{{=URL('static','js/bootstrap-editable.min.js')}}"></script>
        <script src="{{=URL('static','js/jquery-ui.min.js')}}"></script>
        <script src="{{=URL('static','js/jquery.autocomplete.js')}}"></script>
        <script src="{{=URL('static','js/web2py.js')}}"></script>
        <!-- Meus scripts -->
        <!-- criar/editar cartoes -->
        <script>
        var urlStatic = "{{=URL('static','img/')}}",
            urlRemove = "{{=URL('remove_item')}}",
            urlAdidiona = "{{=URL('adiciona_item')}}",
            urlJson = "{{=URL('editar_dados.json')}}";
        </script>
        <script src="{{=URL('static','js/editar_item.js')}}"></script>
        <script src="{{=URL('static','js/mover_item.js')}}"></script>
        <!-- adicionar usuario ao projeto -->
        <script type="text/javascript">
            var usuarios= [];
            {{for usuario in usuarios_para_adicionar:}}
                usuarios.push({ "value": "{{=usuario}}", "data": "{{=usuarios_para_adicionar[usuario]}}" });
            {{ pass }}
            var id_usuario = '';
            $('#autocomplete').autocomplete({
                lookup: usuarios,
                onSelect: function (suggestion) {
                    id_usuario = suggestion.data;
                    $('#adicionar_usuario').attr('href', '{{=URL(c="default", f="adicionar_usuario", vars={"projeto_id": projeto.id})}}' + '&usuario_id=' + id_usuario);
                }
            });
        </script>

    {{ elif request.function == "user": }}
        <!-- javascript -->
        <script src="{{=URL('static','js/web2py.js')}}"></script>
        <!-- chamada funcao para mostrar força da senha -->
        <script language="javascript"><!--
        jQuery("#web2py_user_form input:visible:enabled:first").focus();
        {{if request.args(0)=='register':}}
            web2py_validate_entropy(jQuery('#auth_user_password'),100);
        {{elif request.args(0)=='change_password':}}
            web2py_validate_entropy(jQuery('#no_table_new_password'),100);
        {{pass}}
    //--></script>
    {{ pass }}

    <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects -->
    <script src="{{=URL('static','js/modernizr.custom.js')}}"></script>

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38738215-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>