<!-- Modal parcerias_ajuda-->
<div id="parcerias_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Parcerias Principais</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>É a rede de fornecedores e parceiros que ajudam a sua empresa a funcionar.</p>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Ninguém faz nada sozinho, descubra quem vai ajudá-lo.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim parcerias_ajuda-->

<!-- Modal atividades_p_ajuda-->
<div id="atividades_p_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Atividades Principais</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>Liste ações/tarefas importantes que sua empresa deve atender conforme a Proposta de Valor e para fazer seu Modelo de Negócio funcionar.</p>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Descubra quais são as atividades mais importantes.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim atividades_p_ajuda-->

<!-- Modal proposta_valor_ajuda-->
<div id="proposta_valor_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Proposta de Valor</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>Qual seu pacote de produtos e serviços e o valor que ele possui para os clientes.</p>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>É a razão pelo qual seus clientes querem comprar o que você oferece.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim proposta_valor_ajuda-->

<!-- Modal relacionamento_clientes_ajuda-->
<div id="relacionamento_clientes_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Relacionamento com Clientes</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>Tipos de relação que uma empresa estabelece com Segmento de Clientes para conquistá-los e mantê-los.</p>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Como seus clientes querem ser atendidos?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim relacionamento_clientes_ajuda-->

<!-- Modal segmento_clientes_ajuda-->
<div id="segmento_clientes_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Segmento de Clientes</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>Quem são os clientes que você pretende atender? Eles têm um perfil específico? Como eles estão agrupados? Como estão localizados? Há uma necessidade comum?</p>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Há sempre um grupo especial de pessoas para adquirir seu produto ou serviço.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim segmento_clientes_ajuda-->

<!-- Modal recursos_principais_ajuda-->
<div id="recursos_principais_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Recursos Principais</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>Recursos mais importantes exigidos para fazer o Modelo de Negócio funcionar.</p>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Fique de olho nos recursos imprescindíveis para o funcionamento do negócio.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim recursos_principais_ajuda-->

<!-- Modal canais_ajuda-->
<div id="canais_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Canais</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>Como sua empresa se comunica e alcança seus clientes para entregar sua Proposta de Valor.</p>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Quanto mais curto o caminho que o cliente fizer, melhor. Como o cliente quer comprar?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim canais_ajuda-->

<!-- Modal estrutura_custos_ajuda-->
<div id="estrutura_custos_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Estrutura de Custos</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>Todos os custos envolvidos na operação do seu Modelo de Negócio.</p>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>A redução de custos associada à diferenciação de valores ajuda a abrir espaços de mercado.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim estrutura_custos_ajuda-->

<!-- Modal receitas_ajuda-->
<div id="receitas_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Receitas</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>Dinheiro que a empresa gera. Quanto e como você vai receber dos clientes.</p>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Como você vai cobrar deve estar de acordo com o que o cliente está disposto a pagar.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim receitas_ajuda-->
