<!-- Modal parcerias_ajuda-->
<div id="parcerias_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Parcerias Principais</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>É a rede de fornecedores e parceiros que ajudam a sua empresa a funcionar.</p>
    <p>São empresas, instituições e/ou pessoas que são importante para o funcionamento do modelo de negócios.</p>
    <br>
    <h4>Exemplos:</h4>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_mcdonalds.jpg")}}' alt="McDonalds" title="McDonalds">
      <div class="media-body">
        <h4 class="media-heading">McDonalds</h4>
        Fornecedores e franqueados.
      </div>
    </div>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_zynga.jpg")}}' alt="Zynga" title="Zynga">
      <div class="media-body">
        <h4 class="media-heading">Zynga</h4>
        Facebook, appstores, comunidade dos jogos e lojas que vendem cartão pré-pago Zynga.
      </div>
    </div>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Ninguém faz nada sozinho, descubra quem vai ajudá-lo.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim parcerias_ajuda-->

<!-- Modal atividades_p_ajuda-->
<div id="atividades_p_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Atividades Principais</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>São todas as atividades sem as quais não seria possível atender a <i>Proposta de Valor</i>, construir os canais necessários e manter os relacionamentos.</p>
    <p>Podem ser atividades-chave desde acompanhar redes sociais (uma atividade interessante para contribuir com o relacionamento com os clientes) até construir uma loja (que pode se relacionar com as propostas de valor e canais específicos).</p>
    <br>
    <h4>Exemplos:</h4>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_globo.jpg")}}' alt="Globo" title="Globo">
      <div class="media-body">
        <h4 class="media-heading">Globo</h4>
        Elaborar programas, produzir programas, vender propaganda e buscar novos talentos.
      </div>
    </div>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_cacaushow.jpg")}}' alt="Cacau Show" title="Cacau Show">
      <div class="media-body">
        <h4 class="media-heading">Cacau Show</h4>
        Desenvolver novos chocolates, produzir chocolates, gestão das franquias, distribuição e venda.
      </div>
    </div>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Descubra quais são as atividades mais importantes.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim atividades_p_ajuda-->

<!-- Modal proposta_valor_ajuda-->
<div id="proposta_valor_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Proposta de Valor</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>A proposta de valor é como a empresa cria valor para um determinado <i>Segmento de Cliente</i> e se diferencia da concorrência.</p>
    <p>Qual seu pacote de produtos e serviços e o valor que ele possui para os clientes?</p>
    <br>
    <h4>Exemplos:</h4>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_apple.jpg")}}' alt="Apple" title="Apple">
      <div class="media-body">
        <h4 class="media-heading">Apple</h4>
        Produtos inovadores com qualidade e design diferenciado e simples de serem usados.
      </div>
    </div>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_subway.jpg")}}' alt="Subway" title="Subway">
      <div class="media-body">
        <h4 class="media-heading">Subway</h4>
        Lanches rápidos, saudáveis e personalizados.
      </div>
    </div>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>É a razão pelo qual seus clientes querem comprar o que você oferece.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim proposta_valor_ajuda-->

<!-- Modal relacionamento_clientes_ajuda-->
<div id="relacionamento_clientes_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Relacionamento com Clientes</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>O relacionamento com o cliente é a forma como a empresa interage com um <i>Segmento de Cliente</i>. Tipos de relação para conquistá-los e mantê-los.</p>
    <br>
    <h4>Exemplos:</h4>
    <pre class="prettyprint"><span class="pln"> Motivações</span><span class="pln">
      </span><span class="pun">├──</span><span class="pln"> Captura de clientes</span>
      </span><span class="pun">├──</span><span class="pln"> Retenção de clientes</span>
      </span><span class="pun">├──</span><span class="pln"> Incremento de vendas</span>
      <span class="pun">└──</span><span class="pln"> Fortalecimento da marca</span>
    </pre>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_santander.jpg")}}' alt="Santander" title="Santander">
      <div class="media-body">
        <h4 class="media-heading">Santander</h4>
        Agências, agências Van Gogh, atendimento por telefone, SAC, ouvidoria, redes sociais e internet banking.
      </div>
    </div>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Como seus clientes querem ser atendidos?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim relacionamento_clientes_ajuda-->

<!-- Modal segmento_clientes_ajuda-->
<div id="segmento_clientes_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Segmento de Clientes</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>Segmentos de clientes são divisões dos clientes de acordo com suas necessidades, costumes ou outro atributo em comum, de forma que possam melhor entender, alcançar e servir esses clientes.</p>
    <p>Quem são os clientes que você pretende atender? Eles têm um perfil específico? Como eles estão agrupados? Como estão localizados? Há uma necessidade comum?</p>
    <br>
    <h4>Exemplos:</h4>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_casas_bahia.jpg")}}' alt="Casas Bahia" title="Casas Bahia">
      <div class="media-body">
        <h4 class="media-heading">Casas Bahia</h4>
        Pessoas das classes C, D e E que precisam de crédito para comprar ou pessoas buscando preços baixos e facildiade de pagamento.
      </div>
    </div>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_ferrari.jpg")}}' alt="Ferrari" title="Ferrari">
      <div class="media-body">
        <h4 class="media-heading">Ferrari</h4>
        Homens ricos e apaixonadas por carros esportivos.
      </div>
    </div>    
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Há sempre um grupo especial de pessoas para adquirir seu produto ou serviço.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim segmento_clientes_ajuda-->

<!-- Modal recursos_principais_ajuda-->
<div id="recursos_principais_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Recursos Principais</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>São os principais recursos necessários para que uma empresa faça seu Modelo de Negócios funcionar.</p>
    <p>Podem ser equipes, máquinas, investimentos e plataformas de tecnologia, por exemplo.</p>
    <br>
    <h4>Exemplos:</h4>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_facebook.jpg")}}' alt="Facebook" title="Facebook">
      <div class="media-body">
        <h4 class="media-heading">Facebook</h4>
        Base de usuários, equipe, servidores e plataforma.
      </div>
    </div>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_vale.jpg")}}' alt="Vale" title="Submarino Marketing">
      <div class="media-body">
        <h4 class="media-heading">Vale</h4>
        Minas, equipamentos e know-how técnico.
      </div>
    </div>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Fique de olho nos recursos imprescindíveis para o funcionamento do negócio.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim recursos_principais_ajuda-->

<!-- Modal canais_ajuda-->
<div id="canais_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Canais</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>São a forma como uma empresa comunica e entrega a sua <i>Proposta de Valor</i> para cada <i>Segmento de Cliente</i>. Basicamente, envolve os canais de marketing e logístico das empresas.</p>
    <br>
    <h4>Exemplos:</h4>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_submarino1.jpg")}}' alt="Submarino Logística" title="Submarino Logística">
      <div class="media-body">
        <h4 class="media-heading">Submarino Logística</h4>
        Correios e operadores logísticos privados.
      </div>
    </div>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_submarino2.jpg")}}' alt="Submarino Marketing" title="Submarino Marketing">
      <div class="media-body">
        <h4 class="media-heading">Submarino Marketing</h4>
        Site, SEO, link patrocinado e publicidade online.
      </div>
    </div>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Quanto mais curto o caminho que o cliente fizer, melhor. Como o cliente quer comprar?</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim canais_ajuda-->

<!-- Modal estrutura_custos_ajuda-->
<div id="estrutura_custos_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Estrutura de Custos</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>A estrutura de todos os custos envolvidos nos principais custos decorrente da operação do Modelo de Negócios.</p>
    <p>Indica, por exemplo, a necessidade de se pagar a manutenção das máquinas previstas, os pagamentos dos parceiros contratados, o custo recorrente de infraestrutura, o custo das equipes envolvidas, e assim por diante.</p>
    <br>
    <h4>Exemplos:</h4>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_claro.jpg")}}' alt="Claro" title="Claro">
      <div class="media-body">
        <h4 class="media-heading">Claro</h4>
        Infraestrutura da rede, lojas, funcionários, marketing e call center.
      </div>
    </div>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_tam.jpg")}}' alt="TAM" title="TAM">
      <div class="media-body">
        <h4 class="media-heading">TAM</h4>
        Aviões, manutenção dos aviões, combustível, marketing, funcionários, call center e sistemas de TI.
      </div>
    </div>
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>A redução de custos associada à diferenciação de valores ajuda a abrir espaços de mercado.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim estrutura_custos_ajuda-->

<!-- Modal receitas_ajuda-->
<div id="receitas_ajuda" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Receitas</h3>
  </div>
  <div class="modal-body">
    <h4>O que é?</h4>
    <p>Descreve a forma como uma empresa gera receita através de cada <i>Segmento de Cliente</i>.</p>
    <p>É o dinheiro que a empresa gera. Quanto e como você vai receber dos clientes.</p>
    <br>
    <h4>Exemplos:</h4>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_emirates.jpg")}}' alt="Emirates" title="Emirates">
      <div class="media-body">
        <h4 class="media-heading">Emirates</h4>
        Venda de passagens aéreas, transporte de carga e reserva de carros e hotéis.
      </div>
    </div>
    <div class="media">
      <img class="pull-left" src='{{=URL("static","img/modal_turmadamonica.jpg")}}' alt="Turma da Mônica" title="Turma da Mônica">
      <div class="media-body">
        <h4 class="media-heading">Turma da Mônica</h4>
        Venda de revistas, licenciamento de produtos e venda de animações.
      </div>
    </div> 
    <br>
    <h4><i class="i_dica"></i> Dica:</h4>
    <p>Como você vai cobrar deve estar de acordo com o que o cliente está disposto a pagar.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Fechar</button>
  </div>
</div> <!-- fim receitas_ajuda-->
