{{extend 'default/layout_base.html'}}

O Business Model Canvas é uma ferramenta de gerenciamento estratégico, que permite desenvolver e esboçar modelos de negócio novos ou existentes. É um mapa visual pré-formatado contendo nove blocos do modelo de negócios.[1]. O Business Model Canvas foi inicialmente proposto por Alexander Osterwalder[2] baseado no seu trabalho anterior sobre Business Model Ontology.[3]
As descrições formais do negócio se tornam os blocos para construir suas atividades. Existem várias conceitualizações diferentes de negócio; o trabalho e a tese de Osterwalder (2010[1], 2004[3]) propõem um modelo único de referência baseado nas semelhanças de um vasto número de conceitualizações de modelo de negócios. Com seu padrão de design de modelo de negócios, uma empresa pode facilmente descrever seu modelo de negócios.

                <h3>Simples e fácil de usar</h3>
                <div class="blog_post">
                    <div class="row">
                        <div class="span2">
                            <a href="blog.html">
                                <img src="{{=URL('static','img/pic_blog.png')}}" alt="post image" class="img-circle" />
                            </a>
                        </div>
                        <div class="span4">
                            <a href="blog.html" class="title">
                                Lorem Ipsum is simply dummy 
                            </a>
                            <div class="intro">
                                There are many variations of passages of Lorem alteration in some form by injected look even slightly believable.
                            </div>
                            <div class="date">
                                Oct 22. 2012
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span4 contact_us">
                <h3>Contato</h3>
                <form class="form-horizontal">
                    <div class="field">
                        <div class="label_field">
                            <label for="inputName">Name</label>
                        </div>
                        <input type="text" id="inputName" />
                    </div>

                    <div class="field">
                        <div class="label_field">
                            <label for="inputEmail">Email</label>
                        </div>
                        <input type="text" id="inputEmail" />
                    </div>

                    <div class="field">
                        <div class="label_field">
                            <label for="inputCity">City</label>
                        </div>
                        <input type="text" id="inputCity" />
                    </div>

                    <div class="field">
                        <div class="label_field">
                            <label for="inputComment">Comments</label>
                        </div>
                        <textarea name="comments"></textarea>
                    </div>
                    <button type="submit" class="btn">Send</button>
                </form>