{{extend 'default/layout.html'}}

<div class="content-container">
  <div id="msg"></div>
  <div id="content_area">
    <div id="canvas">
      <table class="canvas" style="height: 368px; font-size: 11.833333333333334px;"> <!-- tabela principal -->
        <tbody>
          <tr>
            <td class="area" height="66%" id="problem" rowspan="2" width="20%">
              <table class="cell-container"> <!-- tabela secundaria  -->
                <tbody>
                  <tr>
                    <td class="canvas-cell canvas-cell-main">
                      <h3 class="main">
                        <div class="area-title"><p>Parcerias <br> Principais</p></div>
                      <div class="help">
                        <a class="helpIcon" href="#">
                          <img height="24" src='{{=URL("static","images/help.png")}}' alt="Help"></a>
                        </div>
                      </h3>
                      <div class="add-new-item parcerias_principais">
                        <!-- gero os itens dinamicamente -->
                      </div>
                    </td>
                  </tr>
                  <tr class="adicionar">
                    <td class="bottom">
                      <button class="parcerias_principais btn-adicionar btn btn-primary" style="display:none;">
                          Adicionar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table> <!-- fim da tabela secundaria  -->
            </td>
            <td class="area" height="33%" id="solution" width="20%">
              <table class="cell-container"> <!-- tabela secundaria  -->
                <tbody>
                  <tr>
                    <td class="canvas-cell canvas-cell-main">
                      <h3 class="main">
                        <div class="area-title">Atividades <br> Principais</div>
                        <div class="help">
                          <a class="helpIcon" href="#">
                            <img height="24" src='{{=URL("static","images/help.png")}}' alt="Help"></a>
                          </div>
                        </h3>
                      <div class="add-new-item atividades_principais">
                        <!-- gero os itens dinamicamente -->
                      </div>
                    </td>
                  </tr>
                  <tr class="adicionar">
                    <td class="bottom">
                      <button class="atividades_principais btn-adicionar btn btn-primary" style="display: none;">
                          Adicionar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table> <!-- fim da tabela secundaria  -->
            </td>
            <td class="area" colspan="2" height="66%" id="value_proposition" rowspan="2" width="20%">
              <table class="cell-container"> <!-- tabela secundaria  -->
                <tbody>
                  <tr>
                    <td class="canvas-cell canvas-cell-main">
                      <h3 class="main">
                        <div class="area-title">Proposta <br> de valor</div>
                        <div class="help">
                          <a class="helpIcon" href="#">
                            <img height="24" src='{{=URL("static","images/help.png")}}' alt="Help"></a>
                          </div>
                        </h3>
                      <div class="add-new-item proposta_valor">
                        <!-- gero os itens dinamicamente -->
                      </div>
                    </td>
                  </tr>
                  <tr class="adicionar">
                    <td class="bottom">
                      <button  class="proposta_valor btn-adicionar btn btn-primary" style="display: none;">
                          Adicionar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table> <!-- fim da tabela secundaria  -->
            </td>
            <td class="area" height="33%" id="unfair_advantage" width="20%">
              <table class="cell-container"> <!-- tabela secundaria  -->
                <tbody>
                  <tr>
                    <td class="canvas-cell canvas-cell-main">
                      <h3 class="main">
                        <div class="area-title">Relacionamento <br> com Clientes</div>
                        <div class="help">
                          <a class="helpIcon" href="#">
                            <img height="24" src='{{=URL("static","images/help.png")}}' alt="Help"></a>
                          </div>
                        </h3>
                      <div class="add-new-item relacionamento_clientes">
                        <!-- gero os itens dinamicamente -->
                      </div>
                    </td>
                  </tr>
                  <tr class="adicionar">
                    <td class="bottom">
                      <button  class="relacionamento_clientes btn-adicionar btn btn-primary" style="display: none;">
                          Adicionar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table> <!-- fim da tabela secundaria  -->
            </td>
            <td class="area" height="66%" id="customer_segments" rowspan="2" width="20%">
              <table class="cell-container"> <!-- tabela secundaria  -->
                <tbody>
                  <tr>
                    <td class="canvas-cell canvas-cell-main">
                      <h3 class="main">
                        <div class="area-title">Segmento <br> de Clientes</div>
                        <div class="help">
                          <a class="helpIcon" href="#">
                            <img height="24" src='{{=URL("static","images/help.png")}}' alt="Help"></a>
                          </div>
                        </h3>
                      <div class="add-new-item segmento_clientes">
                        <!-- gero os itens dinamicamente -->
                      </div>
                    </td>
                  </tr>
                  <tr class="adicionar">
                    <td class="bottom">
                      <button class="segmento_clientes btn-adicionar btn btn-primary" style="display: none;">
                          Adicionar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table> <!-- fim da tabela secundaria  -->
            </td>
          </tr>
          <tr>
          <td class="area" height="33%" id="key_activity" width="20%">
            <table class="cell-container">
              <tbody>
                <tr>
                  <td class="canvas-cell canvas-cell-main">
                    <h3 class="main">
                      <div class="area-title">Recursos <br> Principais</div>
                        <div class="help">
                          <a class="helpIcon" href="#">
                            <img height="24" src='{{=URL("static","images/help.png")}}' alt="Help"></a>
                          </div>
                        </h3>
                      <div class="add-new-item recursos_principais">
                        <!-- gero os itens dinamicamente -->
                      </div>
                  </td>
                </tr>
                <tr class="adicionar">
                  <td class="bottom">
                    <button  class="recursos_principais btn-adicionar btn btn-primary" style="display: none;">
                        Adicionar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="area" height="33%" id="channels" width="20%">
            <table class="cell-container">
              <tbody>
                <tr>
                  <td class="canvas-cell canvas-cell-main">
                    <h3 class="main">
                      <div class="area-title">Canais</div>
                        <div class="help">
                          <a class="helpIcon" href="#">
                            <img height="24" src='{{=URL("static","images/help.png")}}' alt="Help"></a>
                          </div>
                        </h3>
                      <div class="add-new-item canais">
                        <!-- gero os itens dinamicamente -->
                      </div>
                    </td>
                  </tr>
                  <tr class="adicionar">
                    <td class="bottom">
                      <button class="canais btn-adicionar btn btn-primary" style="display: none;">
                          Adicionar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
          <tr>
          <td class="area" colspan="3" height="33%" id="cost_structure" width="50%">
            <table class="cell-container">
              <tbody>
                <tr>
                  <td class="canvas-cell canvas-cell-main">
                    <h3 class="main">
                      <div class="area-title">Estrutura <br> de Custos</div>
                      <div class="help">
                        <a class="helpIcon" href="#">
                          <img height="24" src='{{=URL("static","images/help.png")}}' alt="Help"></a>
                        </div>
                      </h3>
                    <div class="add-new-item estrutura_custos">
                      <!-- gero os itens dinamicamente -->
                    </div>
                    <footer>
                      
                    </footer>
                  </td>
                </tr>
                <tr class="adicionar">
                  <td class="bottom">
                    <button class="estrutura_custos btn-adicionar btn btn-primary" style="display: none;">
                        Adicionar
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
          <td class="area" colspan="3" height="33%" id="revenue_streams" width="50%">
            <table class="cell-container">
              <tbody>
                <tr>
                  <td class="canvas-cell canvas-cell-main">
                    <h3 class="main">
                      <div class="area-title">Receitas</div>
                        <div class="help">
                          <a class="helpIcon" href="#">
                            <img height="24" src='{{=URL("static","images/help.png")}}' alt="Help"></a>
                          </div>
                        </h3>
                      <div class="add-new-item receitas">
                        <!-- gero os itens dinamicamente -->
                      </div>
                    </td>
                  </tr>
                  <tr class="adicionar">
                    <td class="bottom">
                      <button  class="receitas btn-adicionar btn btn-primary" style="display: none;">
                          Adicionar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table> <!-- fim da tabela principal -->

      <div class="collaborators-container">
        <div class="left">
          <a href="#"><img alt="Team" height="64" src='{{=URL("static","images/team.png")}}'></a>
        </div>

        <ul class="collaborators">
          <li id="collaborator_39160">
            <div class="person">
              <div class="icon">
                <img alt="Esse é seu avatar!" src='{{=URL("static","images/avatar.png")}}'>
                <span class="status offline"></span>
              </div>
              <div class="name">
              Danielx4
              </div>
            </div>
          </li>
          <li id="collaborator_41302">
            <div class="person">
              <div class="icon">
                <img alt="Esse é seu avatar!" src='{{=URL("static","images/avatar.png")}}' title="Gustavo de Souza is currently online">
                <span class="status online"></span>
              </div>
              <div class="name">
              Gustavo de Souza
              </div>
            </div>
          </li>
        </ul>
      </div> <!-- fim do collaborators-container -->
    </div> <!-- fim do canvas -->
  </div> <!-- fim do content_area -->
</div> <!-- fim do content-container -->