{{extend 'default/layout_base.html'}}
{{ include 'default/modals_ajuda.html'}}
<div class="container">
  {{ if request.function == "projeto_canvas": }}
    <h1>
      {{=projeto.nome}}
      <small>- criado por: {{=projeto.criado_por.nome}}</small>
      <small> - {{=projeto.criado_em.strftime("%d/%m/%Y")}}</small>
    </h1>
  {{ pass }}

  <!--/mensagem de retorno da chamada ajax -->
  <div id="target_ajax"></div>
</div> <!--/fim do container -->

<div id="modelo_canvas" class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid sessao1">
                <div id="container_parcerias_p" class="span2 offset1 blocos sessao_como">
                    <div class="title"><h4>PARCERIAS PRINCIPAIS</h4><hr></div>
                    <div class="row-fluid botoes_bloco">
                        <button class="parcerias_principais adicionar_item btn btn-success btn-mini pull-left">
                        Adicionar
                        </button>
                        <a href="#parcerias_ajuda" class="ajuda pull-right" role="button" data-toggle="modal" class="helpIcon">
                            <img height="24" src='{{=URL("static","images/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                        </a><!--/link modal -->
                    </div><!--/row-->
                    <div class="parcerias_principais itens drag_drop">
                        <!--/gero os itens dinamicamente -->
                        {{import json}}
                        {{ if projeto.parcerias_principais: }}
                        {{ for i in sorted(json.loads(projeto.parcerias_principais)): }}
                        <p><img src='{{=URL("static","img/close.png")}}' class="deletar_cartao pull-right" /><a href="#" class="item_existente" id="parcerias_principais" data-pk="{{=i}}">{{=json.loads(projeto.parcerias_principais)[i]}}</a></p>
                        {{ pass }}
                        {{ pass }}
                    </div>
                </div><!--/span--><!--/PARCERIAS PRINCIPAIS -->
                <div class="span2 blocos bloco_metade sessao_como">
                    <div class="row-fluid">
                        <div id="container_atividades_p">
                            <div class="title"><h4>ATIVIDADES PRINCIPAIS</h4><hr></div>
                            <div class="row-fluid botoes_bloco">
                                <button class="atividades_principais adicionar_item btn btn-success btn-mini pull-left">
                                Adicionar
                                </button>
                                <a href="#atividades_p_ajuda" class="ajuda pull-right" role="button" data-toggle="modal" class="helpIcon">
                                    <img height="24" src='{{=URL("static","images/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                                </a><!--/link modal -->
                            </div><!--/row-->
                            <div class="atividades_principais itens drag_drop">
                                <!--/gero os itens dinamicamente -->
                                {{import json}}
                                {{ if projeto.atividades_principais: }}
                                {{ for i in sorted(json.loads(projeto.atividades_principais)): }}
                                <p><img src='{{=URL("static","img/close.png")}}' class="deletar_cartao pull-right" /><a href="#" class="item_existente" id="atividades_principais" data-pk="{{=i}}">{{=json.loads(projeto.atividades_principais)[i]}}</a></p>
                                {{ pass }}
                                {{ pass }}
                            </div>
                        </div>
                    </div><!--/row--><!--/ATIVIDADES PRINCIPAIS -->
                    <div class="row-fluid">
                        <div id="container_recursos_p">
                            <div class="title"><h4>RECURSOS PRINCIPAIS</h4><hr></div>
                            <div class="row-fluid botoes_bloco">
                                <button class="recursos_principais adicionar_item btn btn-success btn-mini pull-left">
                                Adicionar
                                </button>
                                <a href="#recursos_principais_ajuda" class="ajuda pull-right" role="button" data-toggle="modal" class="helpIcon">
                                    <img height="24" src='{{=URL("static","images/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                                </a><!--/link modal -->
                            </div><!--/row-->
                            <div class="recursos_principais itens drag_drop">
                                <!--/gero os itens dinamicamente -->
                                {{import json}}
                                {{ if projeto.recursos_principais: }}
                                {{ for i in sorted(json.loads(projeto.recursos_principais)): }}
                                <p><img src='{{=URL("static","img/close.png")}}' class="deletar_cartao pull-right" /><a href="#" class="item_existente" id="recursos_principais" data-pk="{{=i}}">{{=json.loads(projeto.recursos_principais)[i]}}</a></p>
                                {{ pass }}
                                {{ pass }}
                            </div>
                        </div>
                    </div><!--/row--><!--/RECURSOS PRINCIPAIS -->
                </div><!--/span-->
                <div id="container_proposta_v" class="span2 blocos sessao_oque">
                    <div class="title"><h4>PROPOSTA DE VALOR</h4><hr></div>
                    <div class="row-fluid botoes_bloco">
                        <button class="proposta_valor adicionar_item btn btn-success btn-mini pull-left">
                        Adicionar
                        </button>
                        <a href="#proposta_valor_ajuda" class="ajuda pull-right" role="button" data-toggle="modal" class="helpIcon">
                            <img height="24" src='{{=URL("static","images/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                        </a><!--/link modal -->
                    </div><!--/row-->
                    <div class="proposta_valor itens drag_drop">
                        <!--/gero os itens dinamicamente -->
                        {{import json}}
                        {{ if projeto.proposta_valor: }}
                        {{ for i in sorted(json.loads(projeto.proposta_valor)): }}
                        <p><img src='{{=URL("static","img/close.png")}}' class="deletar_cartao pull-right" /><a href="#" class="item_existente" id="proposta_valor" data-pk="{{=i}}">{{=json.loads(projeto.proposta_valor)[i]}}</a></p>
                        {{ pass }}
                        {{ pass }}
                    </div>
                </div><!--/span--><!--/PROPOSTA DE VALOR -->
                <div class="span2 blocos bloco_metade sessao_parquem">
                    <div class="row-fluid">
                        <div id="container_relacionamento_c">
                            <div class="title"><h4>RELACIONAMENTO COM CLIENTES</h4><hr></div>
                            <div class="row-fluid botoes_bloco">
                                <button class="relacionamento_clientes adicionar_item btn btn-success btn-mini pull-left">
                                Adicionar
                                </button>
                                <a href="#relacionamento_clientes_ajuda" class="ajuda pull-right" role="button" data-toggle="modal" class="helpIcon">
                                    <img height="24" src='{{=URL("static","images/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                                </a><!--/link modal -->
                            </div><!--/row-->
                            <div class="relacionamento_clientes itens drag_drop">
                                <!--/gero os itens dinamicamente -->
                                {{import json}}
                                {{ if projeto.relacionamento_clientes: }}
                                {{ for i in sorted(json.loads(projeto.relacionamento_clientes)): }}
                                <p><img src='{{=URL("static","img/close.png")}}' class="deletar_cartao pull-right" /><a href="#" class="item_existente" id="relacionamento_clientes" data-pk="{{=i}}">{{=json.loads(projeto.relacionamento_clientes)[i]}}</a></p>
                                {{ pass }}
                                {{ pass }}
                            </div>
                        </div>
                    </div><!--/row--><!--/RELACIONAMENTO COM CLIENTES -->
                    <div class="row-fluid">
                        <div id="container_canais">
                            <div class="title"><h4>CANAIS</h4><hr></div>
                            <div class="row-fluid botoes_bloco">
                                <button class="canais adicionar_item btn btn-success btn-mini pull-left">
                                Adicionar
                                </button>
                                <a href="#canais_ajuda" class="ajuda pull-right" role="button" data-toggle="modal" class="helpIcon">
                                    <img height="24" src='{{=URL("static","images/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                                </a><!--/link modal -->
                            </div><!--/row-->
                            <div class="canais itens drag_drop">
                                <!--/gero os itens dinamicamente -->
                                {{import json}}
                                {{ if projeto.canais: }}
                                {{ for i in sorted(json.loads(projeto.canais)): }}
                                <p><img src='{{=URL("static","img/close.png")}}' class="deletar_cartao pull-right" /><a href="#" class="item_existente" id="canais" data-pk="{{=i}}">{{=json.loads(projeto.canais)[i]}}</a></p>
                                {{ pass }}
                                {{ pass }}
                            </div>
                        </div>
                    </div><!--/row--><!--/CANAIS -->
                </div><!--/span-->
                <div id="container_segmento_c" class="span2 blocos sessao_parquem">
                    <div class="title"><h4>SEGMENTO DE CLIENTES</h4><hr></div>
                    <div class="row-fluid botoes_bloco">
                        <button class="segmento_clientes adicionar_item btn btn-success btn-mini pull-left">
                        Adicionar
                        </button>
                        <a href="#segmento_clientes_ajuda" class="ajuda pull-right" role="button" data-toggle="modal" class="helpIcon">
                            <img height="24" src='{{=URL("static","images/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                        </a><!--/link modal -->
                    </div><!--/row-->
                    <div class="segmento_clientes itens drag_drop">
                        <!--/gero os itens dinamicamente -->
                        {{import json}}
                        {{ if projeto.segmento_clientes: }}
                        {{ for i in sorted(json.loads(projeto.segmento_clientes)): }}
                        <p><img src='{{=URL("static","img/close.png")}}' class="deletar_cartao pull-right" /><a href="#" class="item_existente" id="segmento_clientes" data-pk="{{=i}}">{{=json.loads(projeto.segmento_clientes)[i]}}</a></p>
                        {{ pass }}
                        {{ pass }}
                    </div>
                </div><!--/span--><!--/span--><!--/SEGMENTO DE CLIENTES -->
            </div><!--/row-->
            <div class="clearfix"></div>
            <div class="row-fluid sessao2">
                <div id="container_estrutura_c" class="span5 offset1 blocos_maior sessao_quanto">
                    <div class="title"><h4>ESTRUTURA DE CUSTOS</h4><hr></div>
                    <div class="row-fluid botoes_bloco">
                        <button class="estrutura_custos adicionar_item btn btn-success btn-mini pull-left">
                        Adicionar
                        </button>
                        <a href="#estrutura_custos_ajuda" class="ajuda pull-right" role="button" data-toggle="modal" class="helpIcon">
                            <img height="24" src='{{=URL("static","images/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                        </a><!--/link modal -->
                    </div><!--/row-->
                    <div class="estrutura_custos itens drag_drop">
                        <!--/gero os itens dinamicamente -->
                        {{import json}}
                        {{ if projeto.estrutura_custos: }}
                        {{ for i in sorted(json.loads(projeto.estrutura_custos)): }}
                        <p><img src='{{=URL("static","img/close.png")}}' class="deletar_cartao pull-right" /><a href="#" class="item_existente" id="estrutura_custos" data-pk="{{=i}}">{{=json.loads(projeto.estrutura_custos)[i]}}</a></p>
                        {{ pass }}
                        {{ pass }}
                    </div>
                </div><!--/span--><!--/span--><!--/ESTRUTURA DE CUSTOS -->
                <div id="container_receita" class="span5 blocos_maior sessao_quanto">
                    <div class="title"><h4>RECEITAS</h4><hr></div>
                    <div class="row-fluid botoes_bloco">
                        <button class="receitas adicionar_item btn btn-success btn-mini pull-left">
                        Adicionar
                        </button>
                        <a href="#receitas_ajuda" class="ajuda pull-right" role="button" data-toggle="modal" class="helpIcon">
                            <img height="24" src='{{=URL("static","images/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                        </a><!--/link modal -->
                    </div><!--/row-->
                    <div class="receitas itens drag_drop">
                        <!--/gero os itens dinamicamente -->
                        {{import json}}
                        {{ if projeto.receitas: }}
                        {{ for i in sorted(json.loads(projeto.receitas)): }}
                        <p><img src='{{=URL("static","img/close.png")}}' class="deletar_cartao pull-right" /><a href="#" class="item_existente" id="receitas" data-pk="{{=i}}">{{=json.loads(projeto.receitas)[i]}}</a></p>
                        {{ pass }}
                        {{ pass }}
                    </div>
                </div><!--/span--><!--/span--><!--/RECEITAS -->
            </div><!--/row-->
        </div><!--/span-->
    </div><!--/row-->
</div><!--/container-fluid -->

<br>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span11 offset1">
            <h4>Compartilhe e edite seu projeto com outras pessoas:</h4>
            <div class="colaboradores-container">
              <div class="pull-left">
                <img src='{{=URL("static","img/time.png")}}' alt="Time de Colaboradores" title="Time de Colaboradores" height="64" >
              </div>
              {{from random import randint}}
              <div class="pull-left">
                <ul class="colaboradores">
                  <li class="span3">
                      <div class="person">
                        <div class="icon">
                          <img alt="{{=projeto.criado_por.nome}} avatar" title="{{=projeto.criado_por.nome}} avatar" src='{{=URL("static","img/avatar%d.png" % randint(1,4))}}'>
                        </div>
                        <div class="name">
                        {{=projeto.criado_por.nome}}
                        </div>
                      </div>
                  </li>
                  {{ for i in time_compartilhamento: }}
                  <li class="span3">
                      <div class="person">
                        <div class="icon">
                          <img alt="{{=i.pessoa_id.nome}} avatar" title="{{=i.pessoa_id.nome}} avatar" src='{{=URL("static","img/avatar%d.png" % randint(1,4))}}'>
                        </div>
                        <div class="name">
                        {{=i.pessoa_id.nome}}
                        </div>
                      </div>
                  </li>
                  {{ pass }}
                  {{ if projeto.criado_por == pessoa_logada:}}
                  <li class="span3">
                      <div class="input-append">
                        <input id="autocomplete" type="text" name="usuario" placeholder="buscar usuário"/>
                        <a href="#" id="adicionar_usuario" class="btn btn-success">+</a>
                      </div>
                  </li>
                  {{ pass }}
                </ul>
              </div> <!-- fim do pull-left -->
              <div class="clearfix"></div>
            </div> <!-- fim do colaboradores-container -->
        </div>
    </div>
</div>
<br>