{{extend 'default/layout_base.html'}}
{{ include 'default/modals_ajuda.html'}}

{{ import json }}
{{tem_cartao = {} }}

{{ if request.function == "projeto_canvas": }}
<div id="dados_projeto" class="offset1">
    <div>
        {{ if projeto.thumbnail == "False" or projeto.thumbnail == None or projeto.thumbnail == "":}}
            <img class="thumbnails" src='{{=URL("static","/img/projeto_sem_imagem.jpg")}}' width="100px" height="100px" alt="Projeto {{=projeto.nome}}" title="Projeto {{=projeto.nome}}">
        {{ else: }}
            <img class="thumbnails" src='{{=URL("static","/uploads/thumbnail/%s" %projeto.thumbnail)}}' width="100px" height="100px" alt="Projeto {{=projeto.nome}}" title="Projeto {{=projeto.nome}}">
        {{ pass }}
    </div>
    <div>
        <ul>
            <li>
                <h4>Nome: {{=projeto.nome}}</h4>
            </li>
            <li><h4>Por: {{=projeto.criado_por.nome}}</h4></li>
            <li><h4>Criado em: {{=projeto.criado_em.strftime("%d/%m/%Y")}}</h4></li>
        </ul>
    </div>
</div>
<div class="clearfix"></div>
{{ pass }}
<!--/mensagem de retorno da chamada ajax -->
<div id="target_ajax"></div>

<br>

<div id="quadro_canvas">
    <div id="container5" class="sessao_parquem">
        <div id="container4" class="sessao_parquem">
            <div id="container3" class="sessao_oque">
                <div id="container2" class="sessao_como">
                    <div id="container1" class="sessao_como">
                        <div id="col1">
                            <!-- Column one start -->
                            <div id="container_parcerias_p">
                                <div class="title"><h4>PARCERIAS PRINCIPAIS</h4><hr></div>
                                <div class="row-fluid botoes_bloco">
                                    <button class="parcerias_principais adicionar_item btn btn-success pull-left">
                                    <i class="icon-plus icon-white"></i>
                                    </button>
                                    <a href="#parcerias_ajuda" class="ajuda pull-right" role="button" data-toggle="modal">
                                        <img height="24" src='{{=URL("static","img/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                                    </a><!--/link modal -->
                                </div><!--/row-->
                                <div class="parcerias_principais itens">
                                    <ul class="drag_drop">
                                    <!--/gero os itens dinamicamente -->
                                    {{ tem_cartao["bloco1"] = False }}
                                    {{ if projeto.parcerias_principais: }}
                                        {{ for i in sorted(json.loads(projeto.parcerias_principais)): }}
                                            <li>
                                                <div class="card_container" style='background-color:{{=json.loads(projeto.parcerias_principais)[i]["cor"]}};'>
                                                    <div class="row">
                                                        <button class="btn deletar_cartao pull-right" alt="Deletar" title="Deletar"><i class="icon-remove"></i></button>
                                                        <button class="btn editar_cartao pull-right" alt="Editar" title="Editar"><i class="icon-pencil"></i></button>
                                                    </div>
                                                    <a href="#" class="cartao" id="parcerias_principais" data-type="address" data-pk="{{=i}}" data-color='{{=json.loads(projeto.parcerias_principais)[i]["cor"]}}'>{{=json.loads(projeto.parcerias_principais)[i]["texto"]}}</a>
                                                </div>
                                            </li>
                                            {{ tem_cartao["bloco1"] = True }}
                                        {{ pass }}
                                    {{ pass }}
                                    </ul>
                                </div>
                            </div><!--/span--><!--/PARCERIAS PRINCIPAIS -->
                            <!-- Column one end -->
                        </div>
                        <div id="col2">
                            <!-- Column two start -->
                            <div class="row-fluid">
                                <div id="container_atividades_p">
                                    <div class="title"><h4>ATIVIDADES PRINCIPAIS</h4><hr></div>
                                    <div class="row-fluid botoes_bloco">
                                        <button class="atividades_principais adicionar_item btn btn-success pull-left">
                                        <i class="icon-plus icon-white"></i>
                                        </button>
                                        <a href="#atividades_p_ajuda" class="ajuda pull-right" role="button" data-toggle="modal">
                                            <img height="24" src='{{=URL("static","img/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                                        </a><!--/link modal -->
                                    </div><!--/row-->
                                    <div class="atividades_principais itens">
                                        <ul class="drag_drop">
                                        <!--/gero os itens dinamicamente -->
                                        {{ tem_cartao["bloco2"] = False }}
                                        {{ if projeto.atividades_principais: }}
                                            {{ for i in sorted(json.loads(projeto.atividades_principais)): }}
                                                <li>
                                                    <div class="card_container" style='background-color:{{=json.loads(projeto.atividades_principais)[i]["cor"]}};'>
                                                        <div class="row">
                                                            <button class="btn deletar_cartao pull-right" alt="Deletar" title="Deletar"><i class="icon-remove"></i></button>
                                                            <button class="btn editar_cartao pull-right" alt="Editar" title="Editar"><i class="icon-pencil"></i></button>
                                                        </div>
                                                        <a href="#" class="cartao" id="atividades_principais" data-type="address" data-pk="{{=i}}" data-color='{{=json.loads(projeto.atividades_principais)[i]["cor"]}}'>{{=json.loads(projeto.atividades_principais)[i]["texto"]}}</a>
                                                    </div>
                                                </li>
                                                {{ tem_cartao["bloco2"] = True }}
                                            {{ pass }}
                                        {{ pass }}
                                        </ul>                                    
                                    </div>
                                </div>
                            </div><!--/row--><!--/ATIVIDADES PRINCIPAIS -->
                            <div class="row-fluid">
                                <div id="container_recursos_p">
                                    <div class="title"><h4>RECURSOS PRINCIPAIS</h4><hr></div>
                                    <div class="row-fluid botoes_bloco">
                                        <button class="recursos_principais adicionar_item btn btn-success pull-left">
                                        <i class="icon-plus icon-white"></i>
                                        </button>
                                        <a href="#recursos_principais_ajuda" class="ajuda pull-right" role="button" data-toggle="modal">
                                            <img height="24" src='{{=URL("static","img/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                                        </a><!--/link modal -->
                                    </div><!--/row-->
                                    <div class="recursos_principais itens">
                                        <ul class="drag_drop">
                                        <!--/gero os itens dinamicamente -->
                                        {{ tem_cartao["bloco3"] = False }}
                                        {{ if projeto.recursos_principais: }}
                                            {{ for i in sorted(json.loads(projeto.recursos_principais)): }}
                                                <li>
                                                    <div class="card_container" style='background-color:{{=json.loads(projeto.recursos_principais)[i]["cor"]}};'>
                                                        <div class="row">
                                                            <button class="btn deletar_cartao pull-right" alt="Deletar" title="Deletar"><i class="icon-remove"></i></button>
                                                            <button class="btn editar_cartao pull-right" alt="Editar" title="Editar"><i class="icon-pencil"></i></button>
                                                        </div>
                                                        <a href="#" class="cartao" id="recursos_principais" data-type="address" data-pk="{{=i}}" data-color='{{=json.loads(projeto.recursos_principais)[i]["cor"]}}'>{{=json.loads(projeto.recursos_principais)[i]["texto"]}}</a>
                                                    </div>
                                                </li>
                                                {{ tem_cartao["bloco3"] = True }}
                                            {{ pass }}
                                        {{ pass }}
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/row--><!--/RECURSOS PRINCIPAIS -->
                            <!-- Column two end -->
                        </div>
                        <div id="col3">
                            <!-- Column three start -->
                            <div id="container_proposta_v">
                                <div class="title"><h4>PROPOSTA DE VALOR</h4><hr></div>
                                <div class="row-fluid botoes_bloco">
                                    <button class="proposta_valor adicionar_item btn btn-success pull-left">
                                    <i class="icon-plus icon-white"></i>
                                    </button>
                                    <a href="#proposta_valor_ajuda" class="ajuda pull-right" role="button" data-toggle="modal">
                                        <img height="24" src='{{=URL("static","img/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                                    </a><!--/link modal -->
                                </div><!--/row-->
                                <div class="proposta_valor itens">
                                    <ul class="drag_drop">
                                    <!--/gero os itens dinamicamente -->
                                    {{ tem_cartao["bloco4"] = False }}
                                    {{ if projeto.proposta_valor: }}
                                        {{ for i in sorted(json.loads(projeto.proposta_valor)): }}
                                                <li>
                                                    <div class="card_container" style='background-color:{{=json.loads(projeto.proposta_valor)[i]["cor"]}};'>
                                                        <div class="row">
                                                            <button class="btn deletar_cartao pull-right" alt="Deletar" title="Deletar"><i class="icon-remove"></i></button>
                                                            <button class="btn editar_cartao pull-right" alt="Editar" title="Editar"><i class="icon-pencil"></i></button>
                                                        </div>
                                                        <a href="#" class="cartao" id="proposta_valor" data-type="address" data-pk="{{=i}}" data-color='{{=json.loads(projeto.proposta_valor)[i]["cor"]}}'>{{=json.loads(projeto.proposta_valor)[i]["texto"]}}</a>
                                                    </div>
                                                </li>
                                            {{ tem_cartao["bloco4"] = True }}
                                        {{ pass }}
                                    {{ pass }}
                                    </ul>
                                </div>
                            </div><!--/span--><!--/PROPOSTA DE VALOR -->
                            <!-- Column three end -->
                        </div>
                        <div id="col4">
                            <!-- Column four start -->
                            <div class="row-fluid">
                                <div id="container_relacionamento_c">
                                    <div class="title"><h4>RELACIONAMENTO COM CLIENTES</h4><hr></div>
                                    <div class="row-fluid botoes_bloco">
                                        <button class="relacionamento_clientes adicionar_item btn btn-success pull-left">
                                        <i class="icon-plus icon-white"></i>
                                        </button>
                                        <a href="#relacionamento_clientes_ajuda" class="ajuda pull-right" role="button" data-toggle="modal">
                                            <img height="24" src='{{=URL("static","img/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                                        </a><!--/link modal -->
                                    </div><!--/row-->
                                    <div class="relacionamento_clientes itens">
                                        <ul class="drag_drop">
                                        <!--/gero os itens dinamicamente -->
                                        {{ tem_cartao["bloco5"] = False }}
                                        {{ if projeto.relacionamento_clientes: }}
                                            {{ for i in sorted(json.loads(projeto.relacionamento_clientes)): }}
                                                <li>
                                                    <div class="card_container" style='background-color:{{=json.loads(projeto.relacionamento_clientes)[i]["cor"]}};'>
                                                        <div class="row">
                                                            <button class="btn deletar_cartao pull-right" alt="Deletar" title="Deletar"><i class="icon-remove"></i></button>
                                                            <button class="btn editar_cartao pull-right" alt="Editar" title="Editar"><i class="icon-pencil"></i></button>
                                                        </div>
                                                        <a href="#" class="cartao" id="relacionamento_clientes" data-type="address" data-pk="{{=i}}" data-color='{{=json.loads(projeto.relacionamento_clientes)[i]["cor"]}}'>{{=json.loads(projeto.relacionamento_clientes)[i]["texto"]}}</a>
                                                    </div>
                                                </li>
                                                {{ tem_cartao["bloco5"] = True }}
                                            {{ pass }}
                                        {{ pass }}
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/row--><!--/RELACIONAMENTO COM CLIENTES -->
                            <div class="row-fluid">
                                <div id="container_canais">
                                    <div class="title"><h4>CANAIS</h4><hr></div>
                                    <div class="row-fluid botoes_bloco">
                                        <button class="canais adicionar_item btn btn-success pull-left">
                                        <i class="icon-plus icon-white"></i>
                                        </button>
                                        <a href="#canais_ajuda" class="ajuda pull-right" role="button" data-toggle="modal">
                                            <img height="24" src='{{=URL("static","img/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                                        </a><!--/link modal -->
                                    </div><!--/row-->
                                    <div class="canais itens">
                                        <ul class="drag_drop">
                                        <!--/gero os itens dinamicamente -->
                                        {{ tem_cartao["bloco6"] = False }}
                                        {{ if projeto.canais: }}
                                            {{ for i in sorted(json.loads(projeto.canais)): }}
                                                <li>
                                                    <div class="card_container" style='background-color:{{=json.loads(projeto.canais)[i]["cor"]}};'>
                                                        <div class="row">
                                                            <button class="btn deletar_cartao pull-right" alt="Deletar" title="Deletar"><i class="icon-remove"></i></button>
                                                            <button class="btn editar_cartao pull-right" alt="Editar" title="Editar"><i class="icon-pencil"></i></button>
                                                        </div>
                                                        <a href="#" class="cartao" id="canais" data-type="address" data-pk="{{=i}}" data-color='{{=json.loads(projeto.canais)[i]["cor"]}}'>{{=json.loads(projeto.canais)[i]["texto"]}}</a>
                                                    </div>
                                                </li>
                                                {{ tem_cartao["bloco6"] = True }}
                                            {{ pass }}
                                        {{ pass }}
                                        </ul>
                                    </div>
                                </div>
                            </div><!--/row--><!--/CANAIS -->
                            <!-- Column four end -->
                        </div>
                        <div id="col5">
                            <!-- Column five start -->
                            <div id="container_segmento_c">
                                <div class="title"><h4>SEGMENTO DE CLIENTES</h4><hr></div>
                                <div class="row-fluid botoes_bloco">
                                    <button class="segmento_clientes adicionar_item btn btn-success pull-left">
                                    <i class="icon-plus icon-white"></i>
                                    </button>
                                    <a href="#segmento_clientes_ajuda" class="ajuda pull-right" role="button" data-toggle="modal">
                                        <img height="24" src='{{=URL("static","img/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                                    </a><!--/link modal -->
                                </div><!--/row-->
                                <div class="segmento_clientes itens">
                                    <ul class="drag_drop">
                                    <!--/gero os itens dinamicamente -->
                                    {{ tem_cartao["bloco7"] = False }}
                                    {{ if projeto.segmento_clientes: }}
                                        {{ for i in sorted(json.loads(projeto.segmento_clientes)): }}
                                                <li>
                                                    <div class="card_container" style='background-color:{{=json.loads(projeto.segmento_clientes)[i]["cor"]}};'>
                                                        <div class="row">
                                                            <button class="btn deletar_cartao pull-right" alt="Deletar" title="Deletar"><i class="icon-remove"></i></button>
                                                            <button class="btn editar_cartao pull-right" alt="Editar" title="Editar"><i class="icon-pencil"></i></button>
                                                        </div>
                                                        <a href="#" class="cartao" id="segmento_clientes" data-type="address" data-pk="{{=i}}" data-color='{{=json.loads(projeto.segmento_clientes)[i]["cor"]}}'>{{=json.loads(projeto.segmento_clientes)[i]["texto"]}}</a>
                                                    </div>
                                                </li>
                                            {{ tem_cartao["bloco7"] = True }}
                                        {{ pass }}
                                    {{ pass }}
                                    </ul>
                                </div>
                            </div><!--/span--><!--/span--><!--/SEGMENTO DE CLIENTES -->
                            <!-- Column five end -->
                        </div>
                    </div> <!-- container1 -->
                </div> <!-- container2 -->
            </div> <!-- container3 -->
        </div> <!-- container4 -->
    </div>  <!-- container5 -->

    <div id="container7" class="sessao_quanto">
        <div id="container6" class="sessao_quanto">
            <div id="col6">
                <!-- Column one start -->
                <div id="container_estrutura_c">
                    <div class="title"><h4>ESTRUTURA DE CUSTOS</h4><hr></div>
                    <div class="row-fluid botoes_bloco">
                        <button class="estrutura_custos adicionar_item btn btn-success pull-left">
                        <i class="icon-plus icon-white"></i>
                        </button>
                        <a href="#estrutura_custos_ajuda" class="ajuda pull-right" role="button" data-toggle="modal">
                            <img height="24" src='{{=URL("static","img/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                        </a><!--/link modal -->
                    </div><!--/row-->
                    <div class="estrutura_custos itens">
                        <ul class="drag_drop">
                        <!--/gero os itens dinamicamente -->
                        {{ tem_cartao["bloco8"] = False }}
                        {{ if projeto.estrutura_custos: }}
                            {{ for i in sorted(json.loads(projeto.estrutura_custos)): }}
                                <li>
                                    <div class="card_container" style='background-color:{{=json.loads(projeto.estrutura_custos)[i]["cor"]}};'>
                                        <div class="row">
                                            <button class="btn deletar_cartao pull-right" alt="Deletar" title="Deletar"><i class="icon-remove"></i></button>
                                            <button class="btn editar_cartao pull-right" alt="Editar" title="Editar"><i class="icon-pencil"></i></button>
                                        </div>
                                        <a href="#" class="cartao" id="estrutura_custos" data-type="address" data-pk="{{=i}}" data-color='{{=json.loads(projeto.estrutura_custos)[i]["cor"]}}'>{{=json.loads(projeto.estrutura_custos)[i]["texto"]}}</a>
                                    </div>
                                </li>
                                {{ tem_cartao["bloco8"] = True }}
                            {{ pass }}
                        {{ pass }}
                        </ul>
                    </div>
                </div><!--/span--><!--/span--><!--/ESTRUTURA DE CUSTOS -->
                <!-- Column one end -->
            </div>
            <div id="col7">
                <!-- Column two start -->
                <div id="container_receita">
                    <div class="title"><h4>RECEITAS</h4><hr></div>
                    <div class="row-fluid botoes_bloco">
                        <button class="receitas adicionar_item btn btn-success pull-left">
                        <i class="icon-plus icon-white"></i>
                        </button>
                        <a href="#receitas_ajuda" class="ajuda pull-right" role="button" data-toggle="modal">
                            <img height="24" src='{{=URL("static","img/icon_help.png")}}' alt="Saiba Mais" title="Saiba Mais">
                        </a><!--/link modal -->
                    </div><!--/row-->
                    <div class="receitas itens">
                        <ul class="drag_drop">
                        <!--/gero os itens dinamicamente -->
                        {{ tem_cartao["bloco9"] = False }}
                        {{ if projeto.receitas: }}
                            {{ for i in sorted(json.loads(projeto.receitas)): }}
                                <li>
                                    <div class="card_container" style='background-color:{{=json.loads(projeto.receitas)[i]["cor"]}};'>
                                        <div class="row">
                                            <button class="btn deletar_cartao pull-right" alt="Deletar" title="Deletar"><i class="icon-remove"></i></button>
                                            <button class="btn editar_cartao pull-right" alt="Editar" title="Editar"><i class="icon-pencil"></i></button>
                                        </div>
                                        <a href="#" class="cartao" id="receitas" data-type="address" data-pk="{{=i}}" data-color='{{=json.loads(projeto.receitas)[i]["cor"]}}'>{{=json.loads(projeto.receitas)[i]["texto"]}}</a>
                                    </div>
                                </li>
                                {{ tem_cartao["bloco9"] = True }}
                            {{ pass }}
                        {{ pass }}
                        </ul>
                    </div>
                </div><!--/span--><!--/span--><!--/RECEITAS -->
                <!-- Column two end -->
            </div>
        </div>
    </div>
</div> <!-- fim quadro_canvas -->

<br>
<div class="clearfix"></div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span11 offset1">
            <h4>Compartilhe e edite seu projeto com outras pessoas:</h4>
            <div class="colaboradores-container">
              <div class="pull-left">
                <img src='{{=URL("static","img/time.png")}}' alt="Time de Colaboradores" title="Time de Colaboradores" height="64" >
              </div>
              <div class="pull-left">
                <ul class="colaboradores">
                  <li class="span3">
                      <div class="person">
                        <div class="icon">
                        <!-- gravatar do usuario -->
                          {{ if usuario_dados["username"].startswith('1'):}}
                          <!-- usuario facebook -->
                          <img src='https://graph.facebook.com/{{=usuario_dados["username"]}}/picture?width=80&height=80' class="colaboradores_avatares" alt='{{=usuario_dados["nome"]}}' title='{{=usuario_dados["nome"]}}'>
                          {{else:}}
                          <img src='{{=Gravatar(usuario_dados["email"]).thumb}}' class="colaboradores_avatares" alt='{{=usuario_dados["nome"]}}' title='{{=usuario_dados["nome"]}}'>
                          {{pass}}
                        </div>
                        <div class="name">
                        {{=projeto.criado_por.nome}}
                        </div>
                      </div>
                  </li>
                  {{ for i in pessoas_compartilhadas: }}
                  <li class="span3">
                      <div class="person">
                        <div class="icon">
                        <!-- gravatar do usuario -->
                          {{ if pessoas_compartilhadas[i]["username"].startswith('1'):}}
                          <!-- usuario facebook -->
                          <img src='https://graph.facebook.com/{{=pessoas_compartilhadas[i]["username"]}}/picture?width=80&height=80' class="colaboradores_avatares" alt='{{=pessoas_compartilhadas[i]["nome"]}}' title='{{=pessoas_compartilhadas[i]["nome"]}}'>
                          {{else:}}
                          <img src='{{=Gravatar(pessoas_compartilhadas[i]["email"]).thumb}}' alt='{{=pessoas_compartilhadas[i]["nome"]}}' class="colaboradores_avatares" title='{{=pessoas_compartilhadas[i]["nome"]}}'>
                          {{pass}}
                        </div>
                        <div class="name">
                        {{=pessoas_compartilhadas[i]["nome"]}}
                        </div>
                      </div>
                  </li>
                  {{ pass }}
                  {{ if projeto.criado_por == pessoa_logada:}}
                  <li class="span3">
                      <div class="input-append">
                        <input id="autocomplete" type="text" name="usuario" placeholder="buscar usuário"/>
                        <a href="#" id="adicionar_usuario" class="btn btn-success"><i class="icon-plus icon-white"></i></a>
                      </div>
                  </li>
                  {{ pass }}
                </ul>
              </div> <!-- fim do pull-left -->
              <div class="clearfix"></div>
            </div> <!-- fim do colaboradores-container -->
        </div>
    </div>
</div>
<br>


<a href="#" id="guia-btn">
    <span class="guia-btn-slide-text">guia</span>
    <span class="guia-btn-icon-left"><span></span></span>
</a>

<!-- verifico se algum bloco possui cartao -->
{{ for i in range(1,10): }}
    {{ if tem_cartao["bloco%d"%i] == True: }}
        <script>var chama_guia = false;</script>
        {{break}}
    {{ else: }}
        <script>var chama_guia = true;</script>
    {{ pass }}
{{ pass }}

<!-- Tip Content -->
<ol id="joyRideTipContent">
  <li data-button="Próximo">
    <h2>Já conhece o Modelo Canvas?</h2>
    <p>Então vamos conhecer os recursos do seu projeto Canvas.</p>
    <small>(Você pode parar o guia fechando essa janela)</small>
    <br>
    <br>
  </li>
  <li data-class="parcerias_principais" data-text="Próximo">
    <h2>#1</h2>
    <p>Clicando no botão "<i class="icon-plus icon-white"></i>" você irá criar um cartão nesse bloco.</p>
  </li>
  <li data-class="ajuda" data-button="Próximo">
    <h2>#2</h2>
    <p>Clicando no botão "?" você irá receber dicas de cada bloco.</p>
  </li>
  <li data-id="autocomplete" data-button="Próximo" data-options="tipLocation:top">
    <h2>#3</h2>
    <p>Você pode compartilhar seu projeto com outros usuários. Basta buscar o nome e depois clicar no botão "+"</p>
  </li>
  <li data-id="guia-btn" data-button="Fim" data-options="tipLocation:right" style="position:fixed;">
    <h2>Guia</h2>
    <p>Para assistir novamente o guia CLICK AQUI.</p>
  </li>
</ol>