<!doctype html>
<html lang="pt_br">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link id="bootstrap-style" href='{{=URL("static","css/bootstrap.css")}}' rel="stylesheet">
	<link href="{{=URL('static','css/bootstrap-editable.css')}}" rel="stylesheet">
	<script src='{{=URL("static","js/jquery-1.7.2.min.js")}}'></script>  
	<script src="{{=URL('static','js/bootstrap.min.js')}}"></script>
	<script src="{{=URL('static','js/bootstrap-editable.min.js')}}"></script>
</head>
<body>
	<div style="width:500px; margin:0 auto;">
		<form id="myform">
			<p id="msg"></p>
			<label for="">Nome:</label><br>
			<a href="#" class="dado_editavel" id="nome"></a>
			<br>
			<br>
			<label for="">Tipo:</label><br>
			<a href="#" class="dado_editavel" id="tipo"></a>
		</form>
	</div>
	
<script>
//init editables
function removeMsg(){
	$('#msg').hide('slow');
}

$('.dado_editavel').editable({
	type: 'text',
	pk: 1,
	url: "{{=URL('new_post.json')}}",
	title: 'Enter username',
	emptytext: "vazio",
	success: function(response) {
	    if(response.success) {
		    $('#msg').addClass('alert-success').removeClass('alert-error').html(response.msg).show();
		    setTimeout(removeMsg,3000)
	    } else if(response.error) {
	    	$('#msg').removeClass('alert-success').addClass('alert-error').html(response.msg).show();
		    setTimeout(removeMsg,3000)
	    }
	}
});

//make username required
$('#nome').editable('option', 'validate', function(v) {
    if(v == '') return 'Não pode ser vazio!';
});

</script>


</body>
</html>


