{{extend 'default/layout_base.html'}}

<div class="container">
    <h2 id="home">Projetos</h2>
    <section id="home">
        <h3 class="span12">Criar novo Projeto</h3>
        <div class="span12">
        {{=form}}
        </div>
        <div style="clear:both" ></div>
        <div id="meus-projetos">
            <h3>Meus Projetos</h3>
            {{ if meus_projetos: }}
                {{ for projeto in meus_projetos: }}
                    <div class="projetos span3">
                       <p>Projeto - <b>{{=projeto.nome}}</b></p> 
                        <a href="{{=URL(c='default', f='projeto_canvas', args=[projeto.id])}}" alt="Abrir Projeto {{=projeto.nome}}" title="Abrir Projeto {{=projeto.nome}}">
                        <img src="{{=URL('static', 'images/selecionar_projeto.png')}}" />
                            <img src="{{=URL('static', 'images/botao_editar.png')}}" />
                        </a>
                    </div>
                {{ pass }}
            {{ pass }}
            <div style="clear:both" ></div>
        </div>
        <div id="projetos-colaborador">
            <hr id="home" class="span12" />
            <h3 class="span12">Projetos que faço parte</h3>
            {{ if projetos_colaborador: }}
                {{ for projeto in projetos_colaborador: }}
                    <div class="projetos span3">
                       <p>{{=projeto.projeto_id.nome}}</p> 
                        <img src="{{=URL('static', 'images/selecionar_projeto.png')}}" />
                        <a href="{{=URL(c='default', f='projeto_canvas', args=[projeto.projeto_id])}}">
                            <img src="{{=URL('static', 'images/botao_editar.png')}}" />
                        </a>
                    </div>
                {{ pass }}
            {{ pass }}
            <div style="clear:both" ></div>
        </div> 
    </section>
</div> 
