<div id='share-modal' class='modal hide fade'>
    <div class='modal-header'>
        <h3></i>{{=T('Tudo isso ao custo de um compartilhamento')}}!</h3>
    </div>
    <div class='modal-body'>

        <ul id="compartilhe">
          <li>
            <a href="#" onclick="window.open('http://facebook.com/share.php?u=http://web2canvas.agenciax4.com.br&amp;t=Faça seu Modelo de Negócios','facebookshare','width=450,height=300,left='+(screen.availWidth/2-225)+',top='+(screen.availHeight/2-150)+'');return false;" title="Compartilhar no Facebook"><img src='{{=URL("static","img/compartilhar-facebook.png")}}' title="Compartilhar no Facebook" alt="Compartilhar no Facebook" width="32px" height="32px">Facebook</a>
          </li>
          <li>
            <a href="#" onclick="window.open('https://plus.google.com/share?url=http://web2canvas.agenciax4.com.br','gplusshare','width=450,height=300,left='+(screen.availWidth/2-225)+',top='+(screen.availHeight/2-150)+'');return false;"title="Compartilhar no Google Plus"><img src='{{=URL("static","img/compartilhar-googleplus.png")}}' title="Compartilhar no Google Plus" alt="Compartilhar no Google Plus" width="32px" height="32px">Google Plus</a>
          </li>
          <li>
            <a href="#" onclick="window.open('http://twitter.com/intent/tweet?text=Faça seu Modelo de Negócios&url=http://web2canvas.agenciax4.com.br&via=agenciax4','twittershare','width=450,height=300,left='+(screen.availWidth/2-225)+',top='+(screen.availHeight/2-150)+'');return false;" title="Compartilhar no Twitter"><img src='{{=URL("static","img/compartilhar-twitter.png")}}' title="Compartilhar no Twitter" alt="Compartilhar no Twitter" width="32px" height="32px">Twitter</a>
          </li>
          <li>
            <a href="#" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url=http://web2canvas.agenciax4.com.br&title=Web2Canvas&summary=Faça seu Modelo de Negócios','twittershare','width=850,height=400,left='+(screen.availWidth/2-225)+',top='+(screen.availHeight/2-150)+'');return false;" title="Compartilhar no Linkedin"><img src='{{=URL("static","img/compartilhar-linkedin.png")}}' title="Compartilhar no Linkedin" alt="Compartilhar no Linkedin" width="32px" height="32px">Linkedin</a>
          </li>
            <div class="clearfix"></div>
        </ul>
    </div>
    <div class="modal-footer">
        <button id="dismiss_feedback" type="button" class="btn btn-primary" data-dismiss="modal">{{=T('Fechar')}}</button>
    </div>
</div>
