/* .area-title {
color: #222; }*/
 .area-title {
	color: #fff!important;
	text-align: right!important;
	margin: -8px 10px 0px 0px!important;
}
 .area-title strong {
color: #c77007!important; }

 .content-container table.canvas, .snapshots .content-container table.canvas, .risks .content-container table.canvas,
.wizard .content-container table.canvas, .experiments .content-container table.canvas {
width: 100%;
height: 580px;
margin-bottom: 0em; }
 .content-container table.canvas th, .snapshots .content-container table.canvas th, .risks .content-container table.canvas th,
.wizard .content-container table.canvas th, .experiments .content-container table.canvas th {
height: 2.2em;
vertical-align: top;
padding: 0; }
 .content-container table.canvas td.area, .snapshots .content-container table.canvas td.area, .risks .content-container table.canvas td.area,
.wizard .content-container table.canvas td.area, .experiments .content-container table.canvas td.area {
vertical-align: top;
border: 2px solid #fff;
background-color: #fff; }
 .content-container table.canvas td.area table.cell-container, .snapshots .content-container table.canvas td.area table.cell-container, .risks .content-container table.canvas td.area table.cell-container,
.wizard .content-container table.canvas td.area table.cell-container, .experiments .content-container table.canvas td.area table.cell-container {
height: 100%;
width: 100%;
margin-bottom: 0; }
 .content-container table.canvas td.area table.cell-container td, .snapshots .content-container table.canvas td.area table.cell-container td, .risks .content-container table.canvas td.area table.cell-container td,
.wizard .content-container table.canvas td.area table.cell-container td, .experiments .content-container table.canvas td.area table.cell-container td {
vertical-align: top; }
 .content-container table.canvas td.area table.cell-container td.canvas-cell, .snapshots .content-container table.canvas td.area table.cell-container td.canvas-cell, .risks .content-container table.canvas td.area table.cell-container td.canvas-cell,
.wizard .content-container table.canvas td.area table.cell-container td.canvas-cell, .experiments .content-container table.canvas td.area table.cell-container td.canvas-cell {
position: relative;
width: 100%;
padding: 5px 0 0px 4px; }
 .content-container table.canvas td.area table.cell-container td.bottom, .snapshots .content-container table.canvas td.area table.cell-container td.bottom, .risks .content-container table.canvas td.area table.cell-container td.bottom,
.wizard .content-container table.canvas td.area table.cell-container td.bottom, .experiments .content-container table.canvas td.area table.cell-container td.bottom {
height: 1.6em;
vertical-align: bottom; }
 .content-container table.canvas td.area .full-canvas-cell, .snapshots .content-container table.canvas td.area .full-canvas-cell, .risks .content-container table.canvas td.area .full-canvas-cell,
.wizard .content-container table.canvas td.area .full-canvas-cell, .experiments .content-container table.canvas td.area .full-canvas-cell {
height: 100%; }
 .content-container table.canvas td.area .half-canvas-cell, .snapshots .content-container table.canvas td.area .half-canvas-cell, .risks .content-container table.canvas td.area .half-canvas-cell,
.wizard .content-container table.canvas td.area .half-canvas-cell, .experiments .content-container table.canvas td.area .half-canvas-cell {
height: 65%; }
 .content-container table.canvas td.area h3 {
font-family: "Arial";
text-transform: uppercase;
font-weight: bold;
margin: 0 0 .3em 5px;
padding-right: 24px;
font-size: 16px;
position: relative;
background: -moz-linear-gradient(left, #47a2e8 8%, #2b93c6 50%, #3994db 77%, #51a1c6 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(8%,#47a2e8), color-stop(50%,#2b93c6), color-stop(77%,#3994db), color-stop(99%,#51a1c6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #47a2e8 8%,#2b93c6 50%,#3994db 77%,#51a1c6 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #47a2e8 8%,#2b93c6 50%,#3994db 77%,#51a1c6 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #47a2e8 8%,#2b93c6 50%,#3994db 77%,#51a1c6 99%); /* IE10+ */
background: linear-gradient(to right, #47a2e8 8%,#2b93c6 50%,#3994db 77%,#51a1c6 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a2e8', endColorstr='#51a1c6',GradientType=1 ); /* IE6-9 */
padding: 10px 0px 0px 5px!important;
height: 51px;
margin: -5px 0px 0px -4px;
width: 100%;
}

#img_parcerias_p {
	width: 80%;
	background: url("../images/icon_parceiros.png") no-repeat 10%;
}

#img_atividades_p {
	width: 80%;
	background: url("../images/icon_atividades.png") no-repeat 10%;
}

#img_proposta_v {
	width: 80%;
	background: url("../images/icon_valor.png") no-repeat 10%;
}

#img_recursos_p {
	width: 80%;
	background: url("../images/icon_recursos.png") no-repeat 10%;
}

#img_relacionamento_c {
	background: url("../images/icon_relacionamento.png") no-repeat 3% 50%;
}

#img_canais {
	width: 70%;
	background: url("../images/icon_canais.png") no-repeat 10%;
	padding-top: 18px;
}

#img_segmento_c {
	width: 80%;
	background: url("../images/icon_segmento.png") no-repeat 10%;
}

#img_estrutura_c {
	width: 30%;
	background: url("../images/icon_custos.png") no-repeat 10%;
}

#img_receita {
	width: 30%;
	background: url("../images/icon_receita.png") no-repeat 10%;
	padding-top: 18px;
}

h3.main span {
	margin: -9px!important;
	display: block;
	font-size: 0px;
}

/*icone help*/
 .content-container table.canvas td.area h3 strong, .snapshots .content-container table.canvas td.area h3 strong, .risks .content-container table.canvas td.area h3 strong,
.wizard .content-container table.canvas td.area h3 strong, .experiments .content-container table.canvas td.area h3 strong {
font-size: 24px; }
 .content-container table.canvas td.area h3 .help {
display: none;
position: absolute;
top: 60px;
right: 30px; }
 .content-container table.canvas td.area h3 .help a.new:hover, .snapshots .content-container table.canvas td.area h3 .help a.new:hover, .risks .content-container table.canvas td.area h3 .help a.new:hover,
.wizard .content-container table.canvas td.area h3 .help a.new:hover, .experiments .content-container table.canvas td.area h3 .help a.new:hover {
text-decoration: none; }
 .content-container table.canvas td.area h3 .help h4, .snapshots .content-container table.canvas td.area h3 .help h4, .risks .content-container table.canvas td.area h3 .help h4,
.wizard .content-container table.canvas td.area h3 .help h4, .experiments .content-container table.canvas td.area h3 .help h4 {
background: url("/images/icon_help.png") no-repeat;
cursor: pointer;
height: 8px;
width: 18px; }
 .content-container table.canvas td.area h3 .dica {
display: none;
position: absolute;
top: 60px;
right: 10px; }

/*icone dica*/
 .content-container table.canvas td.area h3 .dica a.new:hover, .snapshots .content-container table.canvas td.area h3 .dica a.new:hover, .risks .content-container table.canvas td.area h3 .dica a.new:hover,
.wizard .content-container table.canvas td.area h3 .dica a.new:hover, .experiments .content-container table.canvas td.area h3 .dica a.new:hover {
text-decoration: none; }
 .content-container table.canvas td.area h3 .dica h4, .snapshots .content-container table.canvas td.area h3 .dica h4, .risks .content-container table.canvas td.area h3 .dica h4,
.wizard .content-container table.canvas td.area h3 .dica h4, .experiments .content-container table.canvas td.area h3 .dica h4 {
background: url("/images/icon_dica.png") no-repeat;
cursor: pointer;
height: 8px;
width: 18px; }


 .content-container table.canvas td.area ol, .snapshots .content-container table.canvas td.area ol, .risks .content-container table.canvas td.area ol,
.wizard .content-container table.canvas td.area ol, .experiments .content-container table.canvas td.area ol {
margin: 0;
color: #000; }
 .content-container table.canvas td.area ol li, .snapshots .content-container table.canvas td.area ol li, .risks .content-container table.canvas td.area ol li,
.wizard .content-container table.canvas td.area ol li, .experiments .content-container table.canvas td.area ol li {
position: relative;
width: 100%;
list-style-type: none;
font-size: 90%; }
 .content-container table.canvas td.area ol li .show, .snapshots .content-container table.canvas td.area ol li .show, .risks .content-container table.canvas td.area ol li .show,
.wizard .content-container table.canvas td.area ol li .show, .experiments .content-container table.canvas td.area ol li .show {
margin-right: 24px;
padding: 3px 5px 5px 5px; }
 .content-container table.canvas td.area ol li div.editing, .snapshots .content-container table.canvas td.area ol li div.editing, .risks .content-container table.canvas td.area ol li div.editing,
.wizard .content-container table.canvas td.area ol li div.editing, .experiments .content-container table.canvas td.area ol li div.editing {
background-color: #BDE5F0; }
 .content-container table.canvas td.area ol li span.warning, .snapshots .content-container table.canvas td.area ol li span.warning, .risks .content-container table.canvas td.area ol li span.warning,
.wizard .content-container table.canvas td.area ol li span.warning, .experiments .content-container table.canvas td.area ol li span.warning {
color: #A8A8A8;
font-size: 0.8em; }
 .content-container table.canvas td.area:hover h3 .help {
display: block; }
 .content-container table.canvas td.area:hover h3 .dica {
display: block; }
 .content-container .collaborators-container, .snapshots .content-container .collaborators-container, .risks .content-container .collaborators-container,
.wizard .content-container .collaborators-container, .experiments .content-container .collaborators-container {
background-color: #fff;
color: #333;
margin-top: 20px;
padding: 0px;
height: 64px;
width: 98%; }
 .content-container .collaborators-container ul, .snapshots .content-container .collaborators-container ul, .risks .content-container .collaborators-container ul,
.wizard .content-container .collaborators-container ul, .experiments .content-container .collaborators-container ul {
list-style: none;
padding: 12px 8px;
z-index: 1; }
 .content-container .collaborators-container ul li, .snapshots .content-container .collaborators-container ul li, .risks .content-container .collaborators-container ul li,
.wizard .content-container .collaborators-container ul li, .experiments .content-container .collaborators-container ul li {
display: inline;
float: left; }
 .content-container .collaborators-container .person, .snapshots .content-container .collaborators-container .person, .risks .content-container .collaborators-container .person,
.wizard .content-container .collaborators-container .person, .experiments .content-container .collaborators-container .person {
float: left;
padding-right: 20px; }
 .content-container .collaborators-container .icon, .snapshots .content-container .collaborators-container .icon, .risks .content-container .collaborators-container .icon,
.wizard .content-container .collaborators-container .icon, .experiments .content-container .collaborators-container .icon {
float: left;
padding-right: 6px;
position: relative; }
 .content-container .collaborators-container .icon .status, .snapshots .content-container .collaborators-container .icon .status, .risks .content-container .collaborators-container .icon .status,
.wizard .content-container .collaborators-container .icon .status, .experiments .content-container .collaborators-container .icon .status {
border: 1px solid white;
border-right-color: #B9B9B9;
border-bottom-color: #B9B9B9;
height: 7px;
position: absolute;
width: 7px;
z-index: 3;
right: 6px;
bottom: 4px;
background-color: #CCC; }
 .content-container .collaborators-container .icon .online, .snapshots .content-container .collaborators-container .icon .online, .risks .content-container .collaborators-container .icon .online,
.wizard .content-container .collaborators-container .icon .online, .experiments .content-container .collaborators-container .icon .online {
background-color: #5A5; }
 .content-container .collaborators-container .name, .snapshots .content-container .collaborators-container .name, .risks .content-container .collaborators-container .name,
.wizard .content-container .collaborators-container .name, .experiments .content-container .collaborators-container .name {
float: left;
padding-top: 8px;
color: #000; }

/*pagina projeto*/

.adicionar {
	height: 50px;
}

.adicionar .btn {
	margin-top: -50px;
}

/*a[data-placeholder="Required"] {
	color: red!important;
}*/

.main {
	padding: 0px 0 10px 0!important;
}

.main hr {
	margin: 0px 0px 0px -13px;
}

h3 {
	line-height: 25px!important;
}

/*.sessao_como {
	background-color: #d7e6f2;
}*/

 .content-container table.canvas td.area{
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	-ms-transition: all 0.4s;}
 .content-container table.canvas td.area:hover{box-shadow: 0 0px 10px #000; background:#FFF; border-right:1px solid #FFF; border-bottom:1px solid #FFF;
	-moz-box-shadow: 0 0px 10px #000;
	-o-box-shadow: 0 0px 10px #000;		
/*	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); margin:auto;
	z-index: 9999!important;*/
}

 .content-container table.canvas td.sessao_como {
	background-color: #d7e6f2;
}
 .content-container table.canvas td.sessao_oque {
	background-color: rgb(179, 207, 230);
}
 .content-container table.canvas td.sessao_parquem {
	background-color: rgb(146, 216, 182);
}
 .content-container table.canvas td.sessao_quanto {
	background-color: rgb(176, 190, 186);
}
 .content-container table.canvas td.area {
	height: 200px!important;
}

.add-new-item p a.campo_existente {
	color: #000;
	font-size: 13px;
}

.add-new-item {
	margin-top: 25px;
}

.add-new-item p {
	width: 89%;
	margin-left: 2%;
	padding: 5px 8px;
	background-color: #fff;
	box-shadow: 0 2px 5px #777;
}

.add-new-item p a[type="text"] {
 	color: #000;
	font-size: 13px;
}

 .content-container table.canvas td.area:hover {
/* CSS */
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDI0MCwgMjI1LCAyMTMsIDAuODkxKSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0icmdiYSgyMTYsIDE2NiwgMTQ2LCAwLjc2NCkiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0icmdiYSgyMTYsIDE2NiwgMTQ2LCAwLjc2NCkiIC8+PHJlY3QgeD0iLTYuMTUwMSUiIHk9Ii01OS44OCUiIHdpZHRoPSIxMTIuMzAwMiUiIGhlaWdodD0iMjE5Ljc2JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 127, color-stop(0%, rgba(240, 225, 213, 0.891)), color-stop(100%, rgba(216, 166, 146, 0.764)));
background-image: -webkit-radial-gradient(center center, farthest-corner circle, rgba(240, 225, 213, 0.891) 0%, rgba(216, 166, 146, 0.764) 100%);
background-image: -moz-radial-gradient(center center, farthest-corner circle, rgba(240, 225, 213, 0.891) 0%, rgba(216, 166, 146, 0.764) 100%);
background-image: -ms-radial-gradient(center center, farthest-corner circle, rgba(240, 225, 213, 0.891) 0%, rgba(216, 166, 146, 0.764) 100%);
background-image: -o-radial-gradient(center center, farthest-corner circle, rgba(240, 225, 213, 0.891) 0%, rgba(216, 166, 146, 0.764) 100%);
background-image: radial-gradient(farthest-corner circle at center center, rgba(240, 225, 213, 0.891) 0%, rgba(216, 166, 146, 0.764) 100%);

/* SVG */
<svg xmlns="http://www.w3.org/2000/svg">
	<radialGradient id="g">
		<stop offset="0" stop-color="rgba(240, 225, 213, 0.891)"/>
		<stop offset="1" stop-color="rgba(216, 166, 146, 0.764)"/>
	</radialGradient>
	<rect x="0%" y="0%" width="100%" height="100%" fill="rgba(216, 166, 146, 0.764)" />
	<rect x="-6.1501%" y="-59.88%" width="112.3002%" height="219.76%" fill="url(#g)" />
</svg>

/* Canvas */
var g = ctx.createRadialGradient(114, 58, 0, 114, 58, 127);
g.addColorStop(0, rgba(240, 225, 213, 0.891));
g.addColorStop(1, rgba(216, 166, 146, 0.764));
ctx.fillStyle = g;
ctx.fillRect(0, 0, 227, 116);
}



