/*
=======================
 PAGINA PROJETO CANVAS
=======================
*/
 .area-title {
  color: #fff!important;
  text-align: right!important;
  margin: -8px 10px 0px 0px!important;
}

.content-container table.canvas {
  width: 100%;
  height: 580px;
  margin-bottom: 0em;
}

.content-container table.canvas td.area {
  vertical-align: top;
  border: 2px solid #fff;
  background-color: #fff;
}

 .content-container table.canvas td.area table.cell-container {
height: 100%;
width: 100%;
margin-bottom: 0;
}
 .content-container table.canvas td.area table.cell-container td {
vertical-align: top;
}

/*
===========================
 TITULO, ADICIONAR E AJUDA
===========================
*/

/*titulo*/
.content-container table.canvas td.area h3 {
  font-family: "Arial";
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 .3em 5px;
  padding-right: 24px;
  font-size: 16px;
  position: relative;
  background: -moz-linear-gradient(left, #47a2e8 8%, #2b93c6 50%, #3994db 77%, #51a1c6 99%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(8%,#47a2e8), color-stop(50%,#2b93c6), color-stop(77%,#3994db), color-stop(99%,#51a1c6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #47a2e8 8%,#2b93c6 50%,#3994db 77%,#51a1c6 99%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #47a2e8 8%,#2b93c6 50%,#3994db 77%,#51a1c6 99%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #47a2e8 8%,#2b93c6 50%,#3994db 77%,#51a1c6 99%); /* IE10+ */
  background: linear-gradient(to right, #47a2e8 8%,#2b93c6 50%,#3994db 77%,#51a1c6 99%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a2e8', endColorstr='#51a1c6',GradientType=1 ); /* IE6-9 */
  padding: 10px 0px 0px 5px!important;
  height: 51px;
  margin: -5px 0px 0px -4px;
  width: 100%;
}

.titulo_bloco {
  height: 60px;
  position: relative;
  width: 99%;
  padding: 5px 0 0px 3px;
}

.main {
  padding: 0px 0 10px 0!important;
}

.main hr {
  margin: 0px 0px 0px -6px;
}

h3 {
  line-height: 25px!important;
}

h3.main span {
  margin: -9px!important;
  display: block;
  font-size: 0px;
}

#img_parcerias_p {
  width: 80%;
  background: url("../images/icon_parceiros.png") no-repeat 10%;
}

#img_atividades_p {
  width: 80%;
  background: url("../images/icon_atividades.png") no-repeat 10%;
}

#img_proposta_v {
  width: 80%;
  background: url("../images/icon_valor.png") no-repeat 10%;
}

#img_recursos_p {
  width: 80%;
  background: url("../images/icon_recursos.png") no-repeat 10%;
}

#img_relacionamento_c {
  background: url("../images/icon_relacionamento.png") no-repeat 3% 50%;
}

#img_canais {
  width: 70%;
  background: url("../images/icon_canais.png") no-repeat 10%;
  padding-top: 18px;
}

#img_segmento_c {
  width: 80%;
  background: url("../images/icon_segmento.png") no-repeat 10%;
}

#img_estrutura_c {
  width: 30%;
  background: url("../images/icon_custos.png") no-repeat 10%;
}

#img_receita {
  width: 30%;
  background: url("../images/icon_receita.png") no-repeat 10%;
  padding-top: 18px;
}

/*botoes*/
.botoes_bloco {
  height: 25px;
}

.adicionar_item {
  display: none;
}

.cartoes {
  height: 100%;
}

#container_parcerias_p:hover button.adicionar_item, #container_atividades_p:hover button.adicionar_item, #container_proposta_v:hover button.adicionar_item, #container_relacionamento_c:hover button.adicionar_item, #container_segmento_c:hover button.adicionar_item, #container_recursos_p:hover button.adicionar_item, #container_canais:hover button.adicionar_item, #container_estrutura_c:hover button.adicionar_item, #container_receita:hover button.adicionar_item {
  display: block;
  position: relative;
  top: 3px;
  left: 10px;
}

.ajuda {
  display: none;
}

#container_parcerias_p:hover a.ajuda, #container_atividades_p:hover a.ajuda, #container_proposta_v:hover a.ajuda, #container_relacionamento_c:hover a.ajuda, #container_segmento_c:hover a.ajuda, #container_recursos_p:hover a.ajuda, #container_canais:hover a.ajuda, #container_estrutura_c:hover a.ajuda, #container_receita:hover a.ajuda {
  display: block;
  position: relative;
  right: 10px;
}

.content-container table.canvas td.area:hover{
  background:#FFF;
}

.content-container table.canvas td.area{
  translate3d:(0,0,0); /*forcar renderizacar por GPU*/
  transition-duration:0.3s;
  -webkit-transition-duration:0.3s;
  -moz-transition-duration:0.3s;
  -o-transition-duration:0.3s;
 } 

.content-container table.canvas td.sessao_como {
  background-color: #d7e6f2;
}
.content-container table.canvas td.sessao_oque {
  background-color: rgb(179, 207, 230);
}
.content-container table.canvas td.sessao_parquem {
  background-color: rgb(146, 216, 182);
}
.content-container table.canvas td.sessao_quanto {
  background-color: rgb(176, 190, 186);
}
.content-container table.canvas td.area {
  height: 200px;
}

.content-container table.canvas td.area:hover {
/* CSS */
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxyYWRpYWxHcmFkaWVudCBpZD0iZyI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSJyZ2JhKDI0MCwgMjI1LCAyMTMsIDAuODkxKSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0icmdiYSgyMTYsIDE2NiwgMTQ2LCAwLjc2NCkiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHg9IjAlIiB5PSIwJSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0icmdiYSgyMTYsIDE2NiwgMTQ2LCAwLjc2NCkiIC8+PHJlY3QgeD0iLTYuMTUwMSUiIHk9Ii01OS44OCUiIHdpZHRoPSIxMTIuMzAwMiUiIGhlaWdodD0iMjE5Ljc2JSIgZmlsbD0idXJsKCNnKSIgLz48L3N2Zz4=);
background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 127, color-stop(0%, rgba(240, 225, 213, 0.891)), color-stop(100%, rgba(216, 166, 146, 0.764)));
background-image: -webkit-radial-gradient(center center, farthest-corner circle, rgba(240, 225, 213, 0.891) 0%, rgba(216, 166, 146, 0.764) 100%);
background-image: -moz-radial-gradient(center center, farthest-corner circle, rgba(240, 225, 213, 0.891) 0%, rgba(216, 166, 146, 0.764) 100%);
background-image: -ms-radial-gradient(center center, farthest-corner circle, rgba(240, 225, 213, 0.891) 0%, rgba(216, 166, 146, 0.764) 100%);
background-image: -o-radial-gradient(center center, farthest-corner circle, rgba(240, 225, 213, 0.891) 0%, rgba(216, 166, 146, 0.764) 100%);
background-image: radial-gradient(farthest-corner circle at center center, rgba(240, 225, 213, 0.891) 0%, rgba(216, 166, 146, 0.764) 100%);
}

/*
=========
 CARTOES
=========
*/
a.editable-click, a.editable-click:hover {
  font-size: 1.1em;
}

.itens p a.item_existente {
  color: #000;
  color: #000;
  font-size: 13px;
}

.itens p {
  width: 180px;
  margin: 10px auto;
  background-color: #fff;
  word-wrap: break-word;
  position: relative;
  line-height: 1.5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 1em 1.5em;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
 
.itens p:hover {
  cursor: pointer;
}
 
.itens p:active {
  cursor: move;
}

textarea.input-large {
  height: 70px!important;
}

.movendo_item {
  translate3d:(0,0,0); /*forcar renderizacar por GPU*/
  -webkit-transform: rotate(10deg)!important;
   -moz-transform: rotate(10deg)!important;
     -o-transform: rotate(10deg)!important;
    -ms-transform: rotate(10deg)!important;
      transform: rotate(10deg)!important;
}

.placeholder_item {
  background-color: rgb(248, 233, 171)!important;
  border: 2px dotted rgba(0, 0, 0, 0.2)!important;
  height: 1em;
  line-height: 1.2em;
  width: 95%;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.drag_drop {
  height: 100%;
}

img.deletar-cartao {
  /*display: none;*/
  display: pointer;
  position: relative;
  bottom: 5px;
  left: 12px;
  opacity: 0;
}

p:hover img.deletar-cartao {
 /*display: block;*/
 opacity: 1;
}

img.deletar-cartao:hover {
  background: url("../img/clear_close.png");
}

#target-deleted {
  display: none;
}

/*colaboradores*/

.content-container .colaboradores-container {
  background-color: #fff;
  color: #333;
  margin-top: 20px;
  padding: 0px;
  height: 64px;
  width: 98%;
}

.content-container .colaboradores-container ul {
  list-style: none;
  padding: 12px 8px;
  z-index: 1;
}

.content-container .colaboradores-container ul li {
  display: inline;
  float: left;
}

.content-container .colaboradores-container .person {
  float: left;
  padding-right: 20px;
}

.content-container .colaboradores-container .icon {
  float: left;
  padding-right: 6px;
  position: relative;
}

.content-container .colaboradores-container .icon .status {
  border: 1px solid white;
  border-right-color: #B9B9B9;
  border-bottom-color: #B9B9B9;
  height: 7px;
  position: absolute;
  width: 7px;
  z-index: 3;
  right: 6px;
  bottom: 4px;
  background-color: #CCC;
}

.content-container .colaboradores-container .name {
  float: left;
  padding-top: 8px;
  color: #000;
}



