/*
=======
 ICONS
=======
*/

.icon_forward, .icon_back{
  background: url(../img/back_forward.png) no-repeat;
  display: inline-block;
}

.icon_forward{
  background-position: 0 0;
  width: 14px;
  height: 10px;
}

.icon_back{
  background-position: 0 -51px ;
  width: 14px;
  height: 10px;
}


/*
========
 BLOCOS
========
*/

#exportar_canvas {
  margin: 5% 10% 0 0;
}

/* Start of Column CSS */
#container1, #container2, #container3, #container4 {
  clear:left;
  float:left;
  width:100%;
  position:relative;
  right:20%;
  border-right: 3px solid #fff;
}
#container5, #container7 {
  clear:left;
  float:left;
  width:100%;
}
#container6 {
  float:left;
  width:100%;
  position:relative;
  right:50%;
  border-right: 3px solid #fff;
}

/*colunas*/
#col1, #col2, #col3, #col4, #col5 {
  float:left;
  width:20%;
  position:relative;
  left:80%;
}

#col6, #col7 {
  float:left;
  width:50%;
  position:relative;
  left:50%;
}

#col1 .drag_drop, #col3 .drag_drop, #col5 .drag_drop {
  min-height: 385px;
}

.drag_drop {
  min-height: 150px;
}

.sessao2 .offset1, .sessao1 .offset1 {
  /*margin-left: 8.5%!important;*/
}

.sessao2 {
  /*margin-top: 0.2%!important;*/
}

/*cor de fundo dos blocos*/
.sessao_como {
  background-color: #d7e6f2;
}
.sessao_oque {
  background-color: rgb(179, 207, 230);
}
.sessao_parquem {
  background-color: rgb(146, 216, 182);
}
.sessao_quanto {
  background-color: rgb(176, 190, 186);
}

#dados_projeto div {
  float: left;
}

#dados_projeto li {
  list-style: none;
}

/*
===========================
 TITULO, ADICIONAR E AJUDA
===========================
*/

.title {
  background-color: #51a1c6;
  height: 61px;
  width: 99%;
  margin-left: 1%;
}

/*titulo*/
.title h4 {
  min-height: 50px;
  font-family: "Arial";
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  margin: 0px;
  font-size: 1.5em;
  text-align: right;
  position: relative;
  top: 30%;
  right: 7%;
}

#container_parcerias_p .title {
  width: 100%;
  margin-left: 0;
}

#container_relacionamento_c .title, #container_segmento_c .title {
  margin-left: 1.2%;
}
#container_estrutura_c .title {
  width: 100%;
  margin-left: 0%;
}
#container_receita .title {
  width: 99.5%;
  margin-left: 0.5%;
}

#container_relacionamento_c .title h4 {
  top: 20%;
  right: 6%;
  padding-left: 10px;
}

#container_segmento_c .title h4 {
  right: 5%;
}


#container_estrutura_c .title h4, #container_receita .title h4 {
  text-align: left;
  padding-left: 20%;
}

hr {
  margin-top: 2px;
}

#container_parcerias_p .title {
  background-image: url("../images/icon_parceiros.png");
  background-repeat: no-repeat;
  background-position: 10%;
}

#container_atividades_p .title {
  background-image: url("../images/icon_atividades.png");
  background-repeat: no-repeat;
  background-position: 10%;
}

#container_proposta_v .title {
  background-image: url("../images/icon_valor.png");
  background-repeat: no-repeat;
  background-position: 10%;
}

#container_recursos_p .title {
  background-image: url("../images/icon_recursos.png");
  background-repeat: no-repeat;
  background-position: 10%;
}

#container_relacionamento_c .title {
  background-image: url("../images/icon_relacionamento.png");
  background-repeat: no-repeat;
  background-position: 5%;
}

#container_canais .title {
  background-image: url("../images/icon_canais.png");
  background-repeat: no-repeat;
  background-position: 10%;
}

#container_segmento_c .title {
  background-image: url("../images/icon_segmento.png");
  background-repeat: no-repeat;
  background-position: 10%;
}

#container_estrutura_c .title {
  background-image: url("../images/icon_custos.png");
  background-repeat: no-repeat;
  background-position: 5%;
}

#container_receita .title {
  background-image: url("../images/icon_receita.png");
  background-repeat: no-repeat;
  background-position: 5%;
}

/*botoes*/
.botoes_bloco {
  height: 25px;
  margin-bottom: 20px;
}

.adicionar_item {
  position: relative;
  top: 3px;
  left: 10px;
}

.cartoes {
  height: 100%;
}

.ajuda {
  display: block;
  position: relative;
  top: 5px;
  right: 17px;
  opacity: 0.5;
}

.ajuda:hover {
  opacity: 1;
}

/*
=========
 CARTOES
=========
*/

a.editable-click {
  font-size: 1.4em;
  /*display: block;*/
  border: none;
}
a.editable-click:hover {
  /*text-decoration: underline;*/
  border: none;
}
a.editable-click.editable-disabled, a.editable-click.editable-disabled:hover {
  color: #000;
  cursor: pointer;
}
textarea.input-large {
  width: 90%;
  height: 70px;
  margin: 0 auto;
  display: block;
}

.editable-container.editable-inline {
  display: block;
}

.editable-input {
  display: block;
}

.editable-buttons {
  display: block;
  margin-top: 20px;
}

.editable-buttons .editable-cancel {
  margin-left: -7px;
}

.editableform {
  margin-top: 10px;
}

.cartao {
  color: #000;
  font-size: 13px;
  display: block;
  padding-top: 10px;
}

ul.drag_drop {
  margin: 0px;
  padding: 0px;
}

ul.drag_drop li {
  list-style: none;
}

.editar_cartao {
  display: block;
  margin-right: 10px;
}

.editar_cartao:hover {
  /*background-color: rgb(192, 192, 192);*/
}

.deletar_cartao {
  display: block;
}

.deletar_cartao:hover {
  /*background-color: rgb(192, 192, 192);*/
}

.card_container {
  /*min-height: 50px;*/
  width: 80%;
  padding: 10px;
  padding-bottom: 40px;
  margin: 10px auto;
  background-color: #fff;
  word-wrap: break-word;
  position: relative;
  line-height: 1.5;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 5px;
  color: rgba(0,0,0, .8);
  text-shadow: 0 1px 0 #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  z-index: 1;
}

#container_estrutura_c li, #container_receita li {
  width: 31%;
  float:left;
  margin-left: 10%;
}

.card_container:hover {
  cursor: pointer;
}
 
.card_container:active {
  cursor: move;
}

.estrutura_custos .card_container, .receitas .card_container {
  width: 104%;
  margin: 10px;
}

.movendo_item {
  translate3d:(0,0,0); /*forcar renderizacar por GPU*/
  -webkit-transform: rotate(5deg)!important;
   -moz-transform: rotate(5deg)!important;
     -o-transform: rotate(5deg)!important;
    -ms-transform: rotate(5deg)!important;
      transform: rotate(5deg)!important;
}

.placeholder_item {
  background-color: rgb(248, 233, 171)!important;
  border: 3px dashed rgba(0, 0, 0, 0.2)!important;
  height: 2em;
  line-height: 1.2em;
  width: 95%;
  margin: 10px auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

#target_ajax {
  display: none;
}

/*cores*/

.cores_cartao {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  float: left;
  margin-right: 6px;
  -webkit-box-shadow: 0px 0px 2px #000;
  -moz-box-shadow: 0px 0px 2px #000;
  box-shadow: 0px 0px 2px #000;
}
.cores_cartao:last-child {
  margin-right: 0px;
}
.cores_cartao:hover {
  opacity: 0.5;
}

textarea[name="cor"] {
  display: none;
}

/*colaboradores*/

img.colaboradores_avatares {
  max-width: 80px;
  height: auto;
  padding: 5px;
  background-color: #fff;
  display: block;
  line-height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgb(141, 141, 141);
  -moz-box-shadow: 0 1px 3px rgb(141, 141, 141);
  box-shadow: 0 1px 3px rgb(141, 141, 141);
  box-shadow: 0 1px 3px rgb(141, 141, 141);
}

.colaboradores-container {
  width: 98%;
  background-color: #fff;
  color: #333;
  margin-top: 20px;
  padding: 0px;
  padding-bottom: 10px;
}

.colaboradores-container ul {
  list-style: none;
  padding: 12px 8px;
  z-index: 1;
}

.colaboradores-container ul li {
  display: inline;
  float: left;
  width: 90px;
  text-align: center;
  margin-right: 20px;
}

.colaboradores-container .person {
  font-size: 1.3em;
}

.colaboradores-container .icon {
  padding-right: 6px;
}

.colaboradores-container .icon .status {
  border: 1px solid white;
  border-right-color: #B9B9B9;
  border-bottom-color: #B9B9B9;
  height: 7px;
  position: absolute;
  width: 7px;
  z-index: 3;
  right: 6px;
  bottom: 4px;
  background-color: #CCC;
}

.colaboradores-container .name {
  padding-top: 8px;
  color: #000;
}

.modal-body {
  font-size: 1.4em;
}


/*
=======
 ERROS
=======
*/

.editable-error-block {
  font-size: 1.4em;
  clear: both;
  padding-top: 10px;
}


/*
=======
 HACKS
=======
*/

.navbar .nav.pull-right {
  margin-right: 0px;
}


/*
===================
 LAYOUT RESPONSIVO
===================
*/

@media (min-width: 1920px) {

}

@media (min-width: 1600px) {

}

@media (min-width: 1200px) and (max-width: 1919px) {
}

@media (max-width: 1200px) {

  .title {
    background-position: 7%!important;
    background-size: 13%;
  }
  #container_estrutura_c .title {
    background-size: 3%;
  }

  #container_receita .title {
    background-size: 5%;
  }
  .title h4 {
    font-size: 1.2em;
  }
}

@media (max-width: 1024px) {
  .title h4 {
    font-size: 1.2em;
  }
}

@media (max-width: 980px) {
  .title {
    width: 98.5%;
    margin-left: 1.5%;
  }
  #container_relacionamento_c .title, #container_segmento_c .title {
      margin-left: 1.5%;
  }
  #container_receita .title {
    width: 99.3%;
    margin-left: 0.7%;
  }
  #container_relacionamento_c .title h4 {
    right: 3%;
  }
  #container_segmento_c .title h4 {
    right: 3%;
  }

}

@media (max-width: 979px) {
  .navbar .btn-navbar {
    margin-right: 5%;
  }
}

@media (max-width: 900px) {

}

@media (max-width: 800px) {
  .title {
    width: 98.2%;
    margin-left: 1.8%;
  }
  #container_relacionamento_c .title, #container_segmento_c .title {
    margin-left: 1.8%;
  }
  .title h4 {
    width: 70%;
    top: 10px;
    left: 18%;
    font-size: 1.2em;
  }
  #container_estrutura_c .title h4, #container_receita .title h4 {
    padding-left: 0;
    top: 30%;
  }
}

@media (max-width: 768px) {
  #container_receita .title {
    width: 99%;
    margin-left: 1%;
  }
  #container_relacionamento_c .title h4 {
    left: 14%;
  }
}

@media (max-width: 767px) {
  body {
    padding: 0px;
  }
  .navbar-fixed-top {
    margin: 0px;
  }
  .container-fluid {
    padding-left: 20px;
  }
  .btn_feedback, #guia-btn {
    display: none;
  }
}

@media (max-width: 640px) {
}

@media (max-width: 600px) {

}

@media (max-width: 480px) {

}

@media (max-width: 360px) {
      
}

@media (max-width: 320px) {

}









